{{- $page        := .context }}
{{- $project     := .project }}
{{- $maxpaginate := 5 }}
{{- $sections    := slice }}
{{- if site.Params.updates.project }}
  {{- $maxpaginate = site.Params.updates.project.paginate | default $maxpaginate }}
  {{- $sections    = site.Params.updates.project.sections }}
{{- else if site.Params.updates }}
  {{- $maxpaginate = site.Params.updates.paginate | default $maxpaginate }}
  {{- $sections    = site.Params.updates.sections }}
{{- else if site.Params.mainSections }}
  {{- $sections    = site.Params.mainSections }}
{{- end }}
{{- with $project }}
  {{- $pages := "" }}
  {{- if $sections }}
    {{- $pages = first $maxpaginate ((where (where site.RegularPages "Type" "in" $sections) "Params.projects" "intersect" .Params.projects).ByLastmod.Reverse ) }}
  {{- else }}
    {{- $pages = first $maxpaginate ((where site.RegularPages "Params.projects" "intersect" .Params.projects).ByLastmod.Reverse ) }}
  {{- end }}
  {{- "<!-- Project recent updates -->" | safeHTML }}
  {{- $page_count := len $pages }}
  {{- if ge $page_count 1 }}
  <div class="bi-recent-updates bt-card bt-margin bt-hide-small">
    <div class="t-recent-updates-title-container bt-container bt-padding">
      <h4 class="bi-recent-updates-title bt-left bt-text-black"><a href="/updates/" style="text-decoration:none;"><strong><i class="fa fa-newspaper-o bi-icon bt-margin-right bt-large bt-text-teal"></i></strong>{{ (i18n "recent updates" | default "Recent updates") | markdownify | humanize }}</a></h4>
    </div>
    <ul class="bi-ul bi-recent-updates-ul bt-ul bt-hoverable bt-white">
      {{- range $pages }}
      <li class="bi-li bi-recent-updates-li bt-padding">
        <a href="{{ .Permalink }}" style="text-decoration:none;">
          <span class="bi-recent-updates-section bt-opacity bt-small">{{ humanize .Section }} - {{ .Lastmod.Format "02 January 2006 15:04 MST" }}</span><br>
          <span class="bi-recent-updates-title bt-medium">{{ .Title | default .Site.Title | truncate 30 }}</span><br>
          <span class="bi-recent-updates-description bt-small">{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Summary }}{{ end }}</span>
        </a>
      </li>
      {{- end }}
    </ul>
  </div>
  {{- end }}
  {{ "<!-- Project recent updates -->" | safeHTML -}}
{{- end }}
