{{- "<!-- Recent updates -->" | safeHTML }}
{{- $pages := first 5 ((where site.RegularPages "Type" "in" site.Params.mainSections).ByLastmod.Reverse ) }}
{{- $page_count := len $pages }}
{{- if ge $page_count 1 }}
<div class="bt-recent-updates w3-card w3-margin">
  <div class="t-recent-updates-title-container w3-container w3-padding">
    <h4 class="bt-recent-updates-title w3-left w3-text-black"><strong><i class="fa fa-newspaper-o bt-icon w3-margin-right w3-large w3-text-teal"></i></strong>{{ (i18n "recent updates" | default "Recent updates") | markdownify | humanize }}</h4>
  </div>
  <ul class="bt-ul bt-recent-updates-ul w3-ul w3-hoverable w3-white">
    {{ range $pages }}
    <li class="bt-li bt-recent-updates-li w3-padding">
      <a href="{{ .Permalink }}" style="text-decoration:none;">
        <span class="bt-recent-updates-section w3-opacity w3-small">{{ humanize .Section }} - {{ .Lastmod.Format "02 January 2006 15:04 MST" }}</span><br>
        <span class="bt-recent-updates-title w3-medium">{{ .Title | default .Site.Title | truncate 30 }}</span><br>
        <span class="bt-recent-updates-description w3-small">{{ .Params.description }}</span>
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
{{ "<!-- End recent updates -->" | safeHTML -}}
