{{- $taxonomy  := .Page.Params.taxonomy | default "tags" }}
{{- $fontSmall := .Page.Params.design.font_size_min | default 0.8 }}
{{- $fontBig   := .Page.Params.design.font_size_max | default 2.5 }}
{{- $tags      := first 20 (index .Site.Taxonomies $taxonomy).ByCount }}
{{- $tag_count := len $tags }}
<div class="bi-taxo-cloud bi-taxo-{{ $taxonomy }}-cloud bt-card bt-margin bt-hide-small"> {{ "<!-- Tag cloud -->" | safeHTML -}}
  <div class="bi-taxo-cloud-title-container bt-container bt-padding">
    <h4 class="bi-taxo-cloud-title bt-left bt-text-black"><strong><i class="fa fa-cloud bi-icon bt-margin-right bt-large bt-text-teal"></i></strong>{{ (i18n $taxonomy | default $taxonomy) | markdownify | humanize }}</h4>
  </div>
  <div class="bi-taxo-item-container bt-container bt-white">
    {{- if ge $tag_count 1 -}}
      {{- $fontDelta := sub $fontBig $fontSmall -}}
      {{- $max := add (len (index $tags 0).Pages) 1 -}}
      {{- $min := len (index ($tags).Reverse 0).Pages -}}
      {{- $delta := sub $max $min -}}
      {{- $fontStep := div $fontDelta $delta }}
      {{- range $name, $term := (sort $tags ".Page.Title" "asc") -}}
        {{- $tagCount := len $term.Pages -}}
        {{- $weight := div (sub (math.Log $tagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) -}}
        {{- $fontSize := add $fontSmall (mul (sub $fontBig $fontSmall) $weight) }}
    <span class="bi-taxo-item bi-taxo-{{ $taxonomy }}-item bt-tag bt-white bt-margin-bottom bt-small">
      <a href="{{ .Page.RelPermalink }}" style="text-decoration:none;font-size:{{ $fontSize }}em">{{ .Page.Title }}</a>
    </span>
      {{- end }}
    {{- end }}
  </div>
</div>{{ "<!-- End Tag cloud -->" | safeHTML -}}
