{{- "<!-- Team about widget -->" | safeHTML }}
{{- $profile := partial `functions/get_team_member_profile` . }}
{{- with $profile }}
  <div class="bt-team-about w3-card w3-margin">
    <a href="{{ .Permalink }}" style="text-decoration:none;">
      <div class="bt-team-about-title-container w3-container w3-padding">
        <h4 class="bt-team-about-title w3-left w3-text-black"><strong><i class="fa fa-pencil-square-o bt-icon w3-margin-right w3-large w3-text-teal"></i></strong>{{ (i18n "about" | default "About") | markdownify }} {{ .Params.Name }}</h4>
      </div>
      <div class="bt-team-about-bio-container w3-container w3-padding">
        <span class="bt-team-about-bio w3-small">{{ .Params.bio }}</span>
      </div>
    </a>
  </div>
{{- end }}
{{- "<!-- End team about widget -->" | safeHTML }}
