# Generated content
resources/_gen

# Temporary backup files
*_old.*

# Archive directories
*archive*

# Development files
*_new.*
*_dev.*
*_tmp.*
*_test.*

# Ignore test team members
content/team/zz*
