{{ define "main" }}
  <article class="bi-error404"> {{ "<!-- Error 404 -->" | safeHTML }}
    <section class="bi-error404-section">
      <div class="bi-error404-section-card bt-card bt-margin bt-padding">
        <img class="bi-error404-image bi-image bt-image" src="/images/error404.jpg" alt="Will Burrard Meerkats" style="width:100%">
        <span class="bi-error404-message">This doesn't look like the page you were looking for. Sorry, but we couldn't find it. Try something else.</span>
      </div>
    </section>
  </article> {{ "<!-- End Error 404 -->" | safeHTML }}
{{ end }}

{{ define "page-header" }}
<div class="bi-page-header bt-container bt-center bt-margin-top">
  <h3 class="bi-page-title bt-left">404 Page Not Found</h3><br>
</div>
{{ end }}
