{{ define "main" }}
{{ "<!-- Index page -->" | safeHTML }}

{{ $projects := where .Site.RegularPages "Section" "project" }}
{{ $current  := where .Site.RegularPages "Params.archived" false }}
{{ $current_projects := $projects | intersect $current }}
{{ $current_projects_count := len $current_projects }}
{{ if ge $current_projects_count 1 }}
			<!-- Project Section -->
			<div class="w3-container w3-padding-16 w3-margin-top" id="projects">
				<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Active Projects</h3>
			</div>

			<div class="w3-row-padding">

				{{ range $current_projects }}
				<div class="w3-col l3 m6 w3-margin-bottom">
					<a title="Documentation" href="{{ .Permalink }}" style="text-decoration:none;">
						<div class="w3-card">
							{{ if .Params.image_src }}
							<img class="w3-hover-grayscale" src="{{ .Params.image_src }}" alt="{{ .Params.image_alt }}" style="width:100%">
							{{ else if .Params.thumb_src }}
							<img class="w3-hover-grayscale" src="{{ .Params.thumb_src }}" alt="{{ .Params.thumb_alt }}" style="width:100%">
							{{ else }}
							<img class="w3-hover-grayscale" src="/images/mascot.png" alt="{{ .Params.Short_Title | default .Title }}" style="width:100%">
							{{ end }}
							<div class="w3-container w3-center"><h4>{{ .Params.Short_Title | default .Title }}</h4></div>
						</div>
					</a>
				</div>
				{{ end }}
			</div>
{{ end }}

{{ $archived := where .Site.RegularPages "Params.archived" true }}
{{ $archived_projects := $projects | intersect $archived }}
{{ $archived_projects_count := len $archived_projects }}
{{ if ge $archived_projects_count 1 }}
			<!-- Project Section -->
			<div class="w3-container w3-padding-16 w3-margin-top" id="projects">
				<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Past Projects</h3>
			</div>

			<div class="w3-row-padding">

				{{ range $archived_projects }}
				<div class="w3-col l3 m6 w3-margin-bottom">
					<a title="Documentation" href="{{ .Permalink }}" style="text-decoration:none;">
						<div class="w3-card">
							{{ if .Params.image_src }}
							<img class="w3-hover-grayscale" src="{{ .Params.image_src }}" alt="{{ .Params.image_alt }}" style="width:100%">
							{{ else if .Params.thumb_src }}
							<img class="w3-hover-grayscale" src="{{ .Params.thumb_src }}" alt="{{ .Params.thumb_alt }}" style="width:100%">
							{{ else }}
							<img class="w3-hover-grayscale" src="/images/mascot.png" alt="{{ .Params.Short_Title | default .Title }}" style="width:100%">
							{{ end }}
							<div class="w3-container w3-center"><h4>{{ .Params.Short_Title | default .Title }}</h4></div>
						</div>
					</a>
				</div>
				{{ end }}
			</div>
{{ end }}







<!-- Alternative Section -->
<div class="w3-container w3-padding-16 w3-maring-top" id="finished-projects">
	<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Temporary page display alternatives</h3>
</div>


{{ $current_projects := $projects | intersect $current }}
{{ $current_projects_count := len $current_projects }}
{{ if ge $current_projects_count 1 }}

			<div class="w3-row-padding">

				{{ range $current_projects }}
				<div class="w3-col l3 m6 w3-margin-bottom">
					<a title="Documentation" href="{{ .Permalink }}">
						<div class="w3-display-container w3-border">
							{{ if .Params.image_src }}
							<img class="w3-hover-grayscale" src="{{ .Params.image_src }}" alt="{{ .Params.image_alt }}" style="width:100%">
							{{ else if .Params.thumb_src }}
							<img class="w3-hover-grayscale" src="{{ .Params.thumb_src }}" alt="{{ .Params.thumb_alt }}" style="width:100%">
							{{ end }}
							<div class="w3-display-bottom w3-black w3-text-white w3-padding"><h4>{{ .Params.Short_Title | default .Title }}</h4></div>
						</div>
					</a>
				</div>
				{{ end }}
			</div>
{{ end }}

{{ $archived  := where .Site.Pages "Params.archived" true }}
{{ $archived_projects := $projects | intersect $archived }}
{{ $archived_projects_count := len $archived_projects }}
{{ if ge $archived_projects_count 1 }}

			<div class="w3-row-padding">

				{{ range $archived_projects }}
				<div class="w3-col l3 m6 w3-margin-bottom">
					<a title="Documentation" href="{{ .Permalink }}">
						<div class="w3-display-container w3-border">
							{{- if .Params.image_src -}}
							<img class="w3-hover-grayscale" src="{{ .Params.image_src }}" alt="{{ .Params.image_alt }}" style="width:100%">
							{{- else if .Params.thumb_src -}}
							<img class="w3-hover-grayscale" src="{{ .Params.thumb_src }}" alt="{{ .Params.thumb_alt }}" style="width:100%">
							{{- end -}}
							<div class="w3-display-bottom w3-black w3-text-white w3-padding"><h4>{{ .Params.Short_Title | default .Title }}</h4></div>
						</div>
					</a>
				</div>
				{{ end }}
			</div>
{{ end }}

<!-- Format samples -->
		<div class="w3-container w3-padding-16 w3-maring-top" id="finished-projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Format samples</h3>
		</div>

		<div class="w3-row-padding">
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-container w3-center"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-container w3-center"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-container w3-center"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-container w3-center"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
		</div>

		<div class="w3-row-padding">
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-container w3-center w3-black w3-text-white"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-container w3-center w3-black w3-text-white"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-container w3-center w3-black w3-text-white"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-container w3-center w3-black w3-text-white"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
		</div>

		<div class="w3-row-padding">
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-text-white"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-text-white"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-text-white"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-text-white"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
		</div>

		<div class="w3-row-padding">
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding w3-opacity"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding w3-opacity"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding w3-opacity"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding w3-opacity"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
		</div>

		<div class="w3-row-padding">
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
		</div>

		<div class="w3-row-padding">
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding w3-opacity"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding w3-opacity"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding w3-opacity"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding w3-opacity"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
		</div>

		<div class="w3-row-padding">
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
		</div>

		<div class="w3-row-padding">
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-topleft w3-black w3-text-white w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-topleft w3-black w3-text-white w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-topleft w3-black w3-text-white w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-topleft w3-black w3-text-white w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
		</div>

		<div class="w3-row-padding">
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-bottom w3-black w3-text-white w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-bottom w3-black w3-text-white w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-bottom w3-black w3-text-white w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="BODGETHEME" style="width:100%">
						<div class="w3-display-bottom w3-black w3-text-white w3-padding"><h4>Bodgetheme</h4></div>
					</div>
				</a>
			</div>
		</div>


<!-- Format tests -->
		<div class="w3-container w3-padding-16 w3-maring-top" id="finished-projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Format tests</h3>
		</div>

		<div class="w3-row-padding">
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/disobey2019.png" alt="DISOBEY2019" style="width:100%">
						<div class="w3-container w3-center"><h4>Disobey 2019</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/campzone2019.png" alt="CAMPZONE2019" style="width:100%">
						<div class="w3-container w3-center"><h4>Camp Zone 2019</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="HH2019" style="width:100%">
						<div class="w3-container w3-center"><h4>Hacker Hotel 2019</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="SHA2017" style="width:100%">
						<div class="w3-container w3-center"><h4>SHA 2017</h4></div>
					</div>
				</a>
			</div>
		</div>

		<div class="w3-row-padding">
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/disobey2019.png" alt="DISOBEY2019" style="width:100%">
						<div class="w3-container w3-center w3-black w3-text-white"><h4>Disobey 2019</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="CAMPZONE2019" style="width:100%">
						<div class="w3-container w3-center w3-black w3-text-white"><h4>Camp Zone 2019</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="HH2019" style="width:100%">
						<div class="w3-container w3-center w3-black w3-text-white"><h4>Hacker Hotel 2019</h4></div>
					</div>
				</a>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<a title="Bodgetheme" href="http://localhost:1313/projects/bodgetheme/" style="text-decoration:none;">
					<div class="w3-card">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="SHA2017" style="width:100%">
						<div class="w3-container w3-center w3-black w3-text-white"><h4>SHA 2017</h4></div>
					</div>
				</a>
			</div>
		</div>



			<div class="w3-row-padding">
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/disobey2019.png" alt="DISOBEY2019" style="width:100%">
						<div class="w3-display-bottom w3-white w3-padding"><h4>Disobey 2019</h4></div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/campzone2019.png" alt="CAMPZONE2019" style="width:100%">
						<div class="w3-display-bottom w3-white w3-padding"><h4>Camp Zone 2019</h4></div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="HH2019" style="width:100%">
						<div class="w3-display-bottom w3-white w3-padding"><h4>Hacker Hotel 2019</h4></div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="SHA2017" style="width:100%">
						<div class="w3-display-bottom w3-white w3-padding"><h4>SHA 2017</h4></div>
					</div>
				</div>
		  </div>

			<div class="w3-row-padding">
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/disobey2019.png" alt="DISOBEY2019" style="width:100%">
						<div class="w3-display-bottom w3-black w3-text-white w3-padding"><h4>Disobey 2019</h4></div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/campzone2019.png" alt="CAMPZONE2019" style="width:100%">
						<div class="w3-display-bottom w3-black w3-text-white w3-padding"><h4>Camp Zone 2019</h4></div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="HH2019" style="width:100%">
						<div class="w3-display-bottom w3-black w3-text-white w3-padding"><h4>Hacker Hotel 2019</h4></div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="SHA2017" style="width:100%">
						<div class="w3-display-bottom w3-black w3-text-white w3-padding"><h4>SHA 2017</h4></div>
					</div>
				</div>
		  </div>

			<div class="w3-row-padding">
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/disobey2019.png" alt="DISOBEY2019" style="width:100%">
						<div class="w3-display-middle w3-text-white"><h4>Disobey 2019</h4></div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/campzone2019.png" alt="CAMPZONE2019" style="width:100%">
						<div class="w3-display-middle w3-text-white"><h4>Camp Zone 2019</h4></div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="HH2019" style="width:100%">
						<div class="w3-display-middle w3-text-white"><h4>Hacker Hotel 2019</h4></div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="SHA2017" style="width:100%">
						<div class="w3-display-middle w3-text-white"><h4>SHA 2017</h4></div>
					</div>
				</div>
		  </div>

			<div class="w3-row-padding">
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/disobey2019.png" alt="DISOBEY2019" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding w3-opacity">Disobey 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/campzone2019.png" alt="CAMPZONE2019" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding w3-opacity">Camp Zone 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="HH2019" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding w3-opacity">Hacker Hotel 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="SHA2017" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding w3-opacity">SHA 2017</div>
					</div>
				</div>
		  </div>

			<div class="w3-row-padding">
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/disobey2019.png" alt="DISOBEY2019" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding">Disobey 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/campzone2019.png" alt="CAMPZONE2019" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding">Camp Zone 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="HH2019" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding">Hacker Hotel 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="SHA2017" style="width:100%">
						<div class="w3-display-middle w3-white w3-text-black w3-padding">SHA 2017</div>
					</div>
				</div>
		  </div>

			<div class="w3-row-padding">
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/disobey2019.png" alt="DISOBEY2019" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding w3-opacity">Disobey 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/campzone2019.png" alt="CAMPZONE2019" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding w3-opacity">Camp Zone 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="HH2019" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding w3-opacity">Hacker Hotel 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="SHA2017" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding w3-opacity">SHA 2017</div>
					</div>
				</div>
		  </div>

			<div class="w3-row-padding">
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/disobey2019.png" alt="DISOBEY2019" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding">Disobey 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/campzone2019.png" alt="CAMPZONE2019" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding">Camp Zone 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="HH2019" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding">Hacker Hotel 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="SHA2017" style="width:100%">
						<div class="w3-display-middle w3-black w3-text-white w3-padding">SHA 2017</div>
					</div>
				</div>
		  </div>

			<div class="w3-row-padding">
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/disobey2019.png" alt="DISOBEY2019" style="width:100%">
						<div class="w3-display-topleft w3-black w3-text-white w3-padding">Disobey 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/campzone2019.png" alt="CAMPZONE2019" style="width:100%">
						<div class="w3-display-topleft w3-black w3-text-white w3-padding">Camp Zone 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="HH2019" style="width:100%">
						<div class="w3-display-topleft w3-black w3-text-white w3-padding">Hacker Hotel 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="SHA2017" style="width:100%">
						<div class="w3-display-topleft w3-black w3-text-white w3-padding">SHA 2017</div>
					</div>
				</div>
		  </div>

			<div class="w3-row-padding">
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/disobey2019.png" alt="DISOBEY2019" style="width:100%">
						<div class="w3-display-bottom w3-black w3-text-white w3-padding">Disobey 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/campzone2019.png" alt="CAMPZONE2019" style="width:100%">
						<div class="w3-display-bottom w3-black w3-text-white w3-padding">Camp Zone 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/hh2019.png" alt="HH2019" style="width:100%">
						<div class="w3-display-bottom w3-black w3-text-white w3-padding">Hacker Hotel 2019</div>
					</div>
				</div>
				<div class="w3-col l3 m6 w3-margin-bottom">
					<div class="w3-display-container">
						<img class="w3-hover-grayscale" src="images/thumbs/sha2017.png" alt="SHA2017" style="width:100%">
						<div class="w3-display-bottom w3-black w3-text-white w3-padding">SHA 2017</div>
					</div>
				</div>
		  </div>

			<br><br><br>

{{ "<!-- End index page -->" | safeHTML }}
{{ end }}
