{{ define "main" }}
{{ "<!-- Index page -->" | safeHTML }}
{{- with .Content }}
      <article class="bt-index"> {{ "<!-- Site page content -->" | safeHTML }}
        <section class="bt-index-section">
          <div class="bt-index-section-content w3-row-padding">
          {{- . -}}
          </div>
        </section>
      </article> {{ "<!-- End site page content -->" | safeHTML }}
      <hr>
{{- end }}
{{ partial "index/projects-grid.html" . }}
{{/* partial "index/temporary-examples.html" . */}}
{{ "<!-- End index page -->" | safeHTML }}
{{ end }}

{{ define "page-header"}}
{{ end }}

{{ define "aside-left" }}
{{/* partial "header/sidebar_dev.html" . */}}
{{ end }}

{{ define "aside-right" }}
{{ end }}
