{{ define "main" }}
{{ "<!-- Index page -->" | safeHTML }}
{{- with .Content }}
      <article class="bi-index"> {{ "<!-- Site page content -->" | safeHTML }}
        <section class="bi-index-section">
          <div class="bi-index-section-content bt-row-padding">
          {{- . -}}
          </div>
        </section>
      </article> {{ "<!-- End site page content -->" | safeHTML }}
      <hr>
{{- end }}
{{ partial "index/projects-grid.html" . }}
{{ "<!-- End index page -->" | safeHTML }}
{{ end }}

{{ define "page-header"}}
{{ end }}

{{ define "aside-left" }}
{{ end }}

{{ define "aside-right" }}
{{ end }}
