{{ define "main" }}
  <article class="bi-default-list"> {{ "<!-- Default list -->" | safeHTML }}
    {{- if .Content }}{{ .Content }}{{end}}
    <section class="bi-default-list-section bt-card bt-margin">  
      <ul class="bi-ul bi-default-list-section-ul bt-ul bt-hoverable bt-white">
        {{- range .Paginator.Pages }}
          {{/* if (fileExists "partials/li/li_default.html") */}}
            {{- template "partials/li/li_default.html" . }}
          {{- /* end */}}
        {{- end }}
      </ul>
    </section>
    <div class="bi-article-navigation bt-container">
      <div class="bi-article-nav-row bt-row bt-center">
        {{- template "partials/pagination.html" . }}
      </div>
    </div>
  </article> {{ "<!-- End default list -->" | safeHTML }}
{{ end }}

{{ define "page-header" }}
<header class="bi-page-header bt-container bt-center">
  <h3 class="bi-page-header-title bt-left bt-text-black"><strong><i class="fa fa-list bi-icon bt-margin-right bt-xlarge bt-text-teal"></i></strong>{{ (i18n .Title | default (humanize .Title)) | markdownify }}</h3>
</header>
{{ end }}
