{{ define "main" }}

 <!-- Default list -->
 <article>
   <div class="w3-container w3-center w3-margin-top">
     <h3 class="w3-left w3-padding-16 w3-margin-top">Article title</h3>
   </div>

   <section>
     <div class="w3-container w3-center">
       <h4 class="w3-left">Section title</h4>
     </div>
     <div class="w3-card w3-margin">
       <ul class="w3-ul w3-hoverable w3-white">
         <li class="w3-padding-16">
           <img src="w3images/workshop.jpg" alt="Image" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
           <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
           <span class="w3-large">Lorem</span><br>
           <span>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
     tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</span>
         </li>
         <li class="w3-padding-16">
           <img src="w3images/gondol.jpg" alt="Image" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
           <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
           <span class="w3-large">Ipsum</span><br>
           <span>Praes tinci sed</span>
         </li>
         <li class="w3-padding-16">
           <img src="w3images/skies.jpg" alt="Image" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
           <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
           <span class="w3-large">Dorum</span><br>
           <span>Ultricies congue</span>
         </li>
         <li class="w3-padding-16 w3-hide-medium w3-hide-small">
           <img src="w3images/rock.jpg" alt="Dinges" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
           <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
           <span class="w3-large">Mingsum</span><br>
           <span>Lorem ipsum dipsum</span>
         </li>
       </ul>
     </div>
   </section>
   <section>
     <div class="w3-container w3-center">
       <h4 class="w3-left">Section title</h4>
     </div>
     <div class="w3-card w3-margin">
       <ul class="w3-ul w3-hoverable w3-white">
         <li class="w3-padding-16">
           <img src="w3images/workshop.jpg" alt="Image" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
           <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
           <span class="w3-large">Lorem</span><br>
           <span>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
     tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</span>
         </li>
         <li class="w3-padding-16">
           <img src="w3images/gondol.jpg" alt="Image" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
           <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
           <span class="w3-large">Ipsum</span><br>
           <span>Praes tinci sed</span>
         </li>
         <li class="w3-padding-16">
           <img src="w3images/skies.jpg" alt="Image" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
           <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
           <span class="w3-large">Dorum</span><br>
           <span>Ultricies congue</span>
         </li>
         <li class="w3-padding-16 w3-hide-medium w3-hide-small">
           <img src="w3images/rock.jpg" alt="Dinges" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
           <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
           <span class="w3-large">Mingsum</span><br>
           <span>Lorem ipsum dipsum</span>
         </li>
       </ul>
     </div>
   </section>
  </article>
  <article>
    <div class="w3-container w3-center w3-margin-top">
      <h3 class="w3-left w3-padding-16 w3-margin-top">Article title</h3>
    </div>

    <section>
      <div class="w3-container w3-center">
        <h4 class="w3-left">Section title</h4>
      </div>
      <div class="w3-card w3-margin">
        <ul class="w3-ul w3-hoverable w3-white">
          <li class="w3-padding-16">
            <img src="w3images/workshop.jpg" alt="Image" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
            <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
            <span class="w3-large">Lorem</span><br>
            <span>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
      tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</span>
          </li>
          <li class="w3-padding-16">
            <img src="w3images/gondol.jpg" alt="Image" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
            <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
            <span class="w3-large">Ipsum</span><br>
            <span>Praes tinci sed</span>
          </li>
          <li class="w3-padding-16">
            <img src="w3images/skies.jpg" alt="Image" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
            <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
            <span class="w3-large">Dorum</span><br>
            <span>Ultricies congue</span>
          </li>
          <li class="w3-padding-16 w3-hide-medium w3-hide-small">
            <img src="w3images/rock.jpg" alt="Dinges" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
            <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
            <span class="w3-large">Mingsum</span><br>
            <span>Lorem ipsum dipsum</span>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <div class="w3-container w3-center">
        <h4 class="w3-left">Section title</h4>
      </div>
      <div class="w3-card w3-margin">
        <ul class="w3-ul w3-hoverable w3-white">
          <li class="w3-padding-16">
            <img src="w3images/workshop.jpg" alt="Image" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
            <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
            <span class="w3-large">Lorem</span><br>
            <span>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
      tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</span>
          </li>
          <li class="w3-padding-16">
            <img src="w3images/gondol.jpg" alt="Image" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
            <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
            <span class="w3-large">Ipsum</span><br>
            <span>Praes tinci sed</span>
          </li>
          <li class="w3-padding-16">
            <img src="w3images/skies.jpg" alt="Image" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
            <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
            <span class="w3-large">Dorum</span><br>
            <span>Ultricies congue</span>
          </li>
          <li class="w3-padding-16 w3-hide-medium w3-hide-small">
            <img src="w3images/rock.jpg" alt="Dinges" class="w3-image w3-round w3-left w3-margin-right" style="width:75px">
            <span class="w3-small">16 March 2020 - Rob Verseijden</span><br>
            <span class="w3-large">Mingsum</span><br>
            <span>Lorem ipsum dipsum</span>
          </li>
        </ul>
      </div>
    </section>
   </article>

{{ end }}
