{{ define "main" }}
  <article class="bi-default-single"> {{ "<!-- Default single -->" | safeHTML }}
    <div class="bi-default-single-title-container bt-container bt-center">
      <h3 class="bi-default-single-title bt-left">{{ .Title | default .Site.Title }}</h3><br>
      <span class="bi-default-single-date bt-left bt-small">{{ .Date.Format "Monday, 02 January 2006 15:04 MST" }}{{if .Params.Author}} - {{.Params.Author}}{{end}}</span>
    </div>
    <section class="bi-default-single-section">
      <div class="bi-default-single-section-card bt-card bt-margin bt-padding">
        {{- if .Params.image_src -}}
        <img src="{{ .Params.image_src }}" alt="{{ .Params.image_alt }}" class="bi-default-single-section-image bt-image bt-round bt-left bt-margin-right" style="width:75px">
        {{- end -}}
        <span class="bi-default-single-section-content">{{ .Content }}</span>
      </div>
    </section>
  </article> {{ "<!-- End Default single -->" | safeHTML }}
{{ end }}
