{{- $page           := .context  }}
{{- $label          := .label | default "page" }}
{{- $articles       := .articles }}
{{- $articles_count := len $articles }}
{{- if gt $articles_count 1 }}
  {{/* Find current article in list */}}
  {{- $article_prev := "" }}
  {{- $article_curr := "" }}
  {{- $article_next := "" }}
  {{- range $articles }}
    {{- if and ($article_curr) (not $article_next) }}
      {{- $article_next = . }}
    {{- end }}
    {{- if eq .RelPermalink $page.RelPermalink }}
      {{- $article_curr = . }}
    {{- else if (not $article_curr) }}
      {{- $article_prev = . }}
    {{- end }}
  {{- end }}
<div class="bt-article-navigation w3-container">
  <div class="bt-article-nav-row w3-row">
    {{- with $article_prev }}
    <div class="bt-article-nav-prev-col w3-col m5 s12 w3-left">
      <p class="bt-article-nav-prev-title"><a class="w3-button w3-padding-large w3-white w3-border" title="{{ .Title }}" alt="Previous {{ $label }}" href="{{ .Permalink }}"><strong>&Lang; PREVIOUS {{ $label | upper }}</strong></a></p>
    </div>
    {{- end }}
    {{- with $article_next }}
    <div class="bt-article-nav-next-col w3-col m5 s12 w3-right">
      <p class="bt-article-nav-next-title w3-right"><a class="w3-button w3-padding-large w3-white w3-border" title="{{ .Title }}" alt="Next {{ $label }}" href="{{ .Permalink }}"><strong>NEXT {{ $label | upper }} &Rang;</strong></a></p>
    </div>
    {{- end }}
  </div>
</div>
{{- end }}
