{{- $page           := .context  }}
{{- $label          := .label | default "page" }}
{{- $articles       := .articles }}
{{- $articles_count := len $articles }}
{{- if gt $articles_count 1 }}
  {{/* Find current article in list */}}
  {{- $article_prev := "" }}
  {{- $article_curr := "" }}
  {{- $article_next := "" }}
  {{- range $articles }}
    {{- if and ($article_curr) (not $article_next) }}
      {{- $article_next = . }}
    {{- end }}
    {{- if eq .RelPermalink $page.RelPermalink }}
      {{- $article_curr = . }}
    {{- else if (not $article_curr) }}
      {{- $article_prev = . }}
    {{- end }}
  {{- end }}
<div class="bi-article-navigation bt-container">
  <div class="bi-article-nav-row bt-row">
    {{- with $article_prev }}
    <div class="bi-article-nav-prev-col bt-col m3 s2 bt-left">
      <p class="bi-article-nav-prev-title"><a class="bt-button bt-padding-large bt-white bt-border" title="{{ .Title }}" alt="Previous {{ $label }}" href="{{ .Permalink }}"><strong>&Lang;<x class="bt-hide-small"> PREVIOUS {{ $label | upper }}</x></strong></a></p>
    </div>
    {{- end }}
    {{- with $article_next }}
    <div class="bi-article-nav-next-col bt-col m3 s2 bt-right">
      <p class="bi-article-nav-next-title bt-right"><a class="bt-button bt-padding-large bt-white bt-border" title="{{ .Title }}" alt="Next {{ $label }}" href="{{ .Permalink }}"><strong><x class="bt-hide-small">NEXT {{ $label | upper }} </x>&Rang;</strong></a></p>
    </div>
    {{- end }}
  </div>
</div>
{{- end }}
