    <footer class="w3-bottom w3-black w3-opacity w3-hover-opacity-off">
			<div class="w3-bar w3-wide w3-padding">
				<a class="w3-bar-item w3-button w3-round" title="Home" href="#"><b>Badge.Team</b></a>
				<div class="w3-right w3-hide-small">
					<a class="w3-bar-item" title="Documentation" alt="Documentation" href="https://docs.badge.team/" target="_blank"><i class="fa fa-file-text w3-hover-opacity"></i></a>
					<a class="w3-bar-item" title="Github" alt="Github" href="https://github.com/badgeteam/" target="_blank"><i class="fa fa-github w3-hover-opacity"></i></a>
					<a class="w3-bar-item" title="Twitter" alt="Twitter" href="https://twitter.com/SHA2017Badge" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
					<a class="w3-bar-item" title="IRC" alt="IRC" href="https://webchat.freenode.net/?channels=%23badgeteam%2C%23badgeteam-dev" target="_blank"><i class="fa fa-hashtag w3-hover-opacity"></i></a>
					<a class="w3-bar-item" title="Telegram" alt="Telegram" href="https://t.me/joinchat/AMG-ZhQQ9cE1KAAbQozy5Q" target="_blank"><i class="fa fa-telegram w3-hover-opacity"></i></a>
				</div>
			</div>
		</footer>
