    <!-- Navigation bar -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a class="w3-bar-item w3-button w3-round" title="Home" href="/"><img class="" alt="" style="height:1.2em" src="images/logo.png"> BADGE.TEAM</a>

        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
          <a class="w3-bar-item w3-button w3-round" title="Documentation" alt="Documentation" href="https://docs.badge.team/" target="_blank"><i class="fa fa-file-text w3-hover-opacity"></i>Documentation</a>
          <a class="w3-bar-item w3-button w3-round" title="Github" alt="Github" href="https://github.com/badgeteam/" target="_blank"><i class="fa fa-github w3-hover-opacity"></i>Github</a>
        </div>
      </div>
    </div>
