{{ define "main" }}
{{ "<!-- Blogs single -->" | safeHTML }}
{{- $projects := where .Site.RegularPages "Section" "projects" }}
{{- $project  := first 1 (where $projects "Params.activities" "intersect" .Params.activities) }}
{{- $project_count := len $project }}

 <!-- Header -->
<header class="w3-container w3-center w3-padding-32">
  {{- if ge $project_count 1 }}
    {{ range $project }}
  <h1 class="w3-left">{{ .Title }}</h1>
    {{ end }}
  {{- else }}
  <h1 class="w3-left">Unknown project</h1>
  {{- end }}
</header>

<div class="w3-row">
  {{ "<!-- Blog -->" | safeHTML }}
  <div class="w3-col l8 s12">
    <!-- Blog entry -->
    <div class="w3-card-4 w3-margin w3-white">
      {{ if .Params.image_src }}
		  <img class="" src="{{ .Params.image_src }}" alt="{{ .Params.image_alt }}" style="width:100%">
		  {{ else if .Params.thumb_src }}
		  <img class="" src="{{ .Params.thumb_src }}" alt="{{ .Params.thumb_alt }}" style="width:100%">
		  {{ end }}
      <div class="w3-container">
        <h3><b>{{ .Title }}</b></h3>
        <span class="w3-left w3-opacity w3-small">{{ .Date.Format "Monday, 02 January 2006 15:04 MST" }}{{if .Params.Author}} - {{.Params.Author}}{{end}}</span>
      </div>
      <div class="w3-container">
        <p>{{ .Description }}</p>
        <p>{{ .Content }}</p>
      </div>
    </div>
    <hr>
  </div>
  {{ "<!-- End blog -->" | safeHTML }}

<!-- Right side column -->
<div class="w3-col l4">
  {{- if ge $project_count 1 }}
    {{- range $project }}
  <!-- About Project -->
  <div class="w3-card w3-margin w3-margin-top">
    <a href="{{ .Permalink }}" style="text-decoration:none;">
      {{ if .Params.image_src }}
      <img class="" src="{{ .Params.image_src }}" alt="{{ .Params.image_alt }}" style="width:100%">
      {{ else if .Params.thumb_src }}
      <img class="" src="{{ .Params.thumb_src }}" alt="{{ .Params.thumb_alt }}" style="width:100%">
      {{ else }}
      <img class="" src="/images/mascot.png" alt="{{ .Params.Short_Title | default .Title }}" style="width:100%">
      {{ end }}
      <div class="w3-container w3-white">
        <h4><b>{{ .Title }}</b></h4>
        <p>{{ .Description }}</p>
      </div>
    </a>
  </div>
  <hr>
    {{- end }}
  {{- end }}
  {{- partial "widget-recent-updates.html" . -}}
  {{- partial "widget-tags.html" . -}}
<!-- Right side column -->
</div>

</div><br>

{{ "<!-- End blogs single -->" | safeHTML }}
{{ end }}
