{{ define "main" }}
  <article class="bi-default-list"> {{ "<!-- Event taxonomy -->" | safeHTML }}
    <section class="bi-default-list-section bt-card bt-margin">
      <ul class="bi-ul bi-default-list-section-ul bt-ul bt-hoverable bt-white">
        {{- if .Content }}{{ .Content }}{{end}}
        {{- range .Paginator.Pages }}
        <li class="bi-li bi-default-list-section-li bt-padding-16">
          <a href="{{ .Permalink }}" style="text-decoration:none;">
          {{- $image := "" }}
          {{- $alt   := "" }}
          {{- if .Params.thumb_src }}
            {{- $image = .Resources.GetMatch .Params.thumb_src }}
            {{- $alt   = .Params.thumb_alt }}
          {{- else if .Params.image_src }}
            {{- $image = .Resources.GetMatch .Params.image_src }}
            {{- $alt   = .Params.image_alt }}
          {{- end }}
          {{- if $image }}
            <img class="bi-default-list-section-image bt-image bt-round bt-left bt-margin-right" src="{{ $image.RelPermalink }}" alt="{{ $alt }}" style="width:75px">
          {{- end }}
            <span class="bi-default-list-section-section bt-small">{{ humanize .Section }} - {{ .Lastmod.Format "Monday, 02 January 2006 15:04 MST" }}{{if .Params.Author}} - {{.Params.Author}}{{end}}</span><br>
            <span class="bi-default-list-section-title bt-large">{{ .Title | default .Site.Title }}</span><br>
            <span class="bi-default-list-section-description">{{ if .Params.Description }}{{ .Params.Description }}{{ else }}{{ .Summary }}{{ end }}</span>
          </a>
        </li>
        {{- end }}
      </ul>
    </section>
    <div class="bi-article-navigation bt-container">
      <div class="bi-article-nav-row bt-row bt-center">
        {{- template "partials/pagination.html" . }}
      </div>
    </div>
  </article> {{ "<!-- End event taxonomy -->" | safeHTML }}
{{ end }}

{{ define "page-header" }}
<header class="bi-page-header bt-container bt-center">
  {{ $title := (printf "%s taxonomy term '%s'" (.Section | humanize) .Title) }}
  <h3 class="bi-page-header-title bt-left bt-text-black"><strong><i class="fa fa-hashtag bi-icon bt-margin-right bt-xlarge bt-text-teal"></i></strong>{{ (i18n $title | default ($title)) | markdownify }}</h3>
</header>
{{ end }}
