{{ define "main" }}
{{ "<!-- Project list -->" | safeHTML }}
{{- $maxpaginate := .Site.Params.project.paginate | default 5 }}
<div class="bt-project-list-row w3-row">
  {{ $projects := where .Site.RegularPages "Section" "project" }}
  {{ $current  := where .Site.RegularPages "Params.archived" false }}
  {{ $current_projects := $projects | intersect $current }}
  {{ $current_projects_count := len $current_projects }}
  {{ if ge $current_projects_count 1 }}
  {{ "<!-- Projects -->" | safeHTML }}
  <div class="bt-project-list-col w3-col">
    {{- range (.Paginate ( $current_projects.ByLastmod.Reverse ) $maxpaginate).Pages }}
      {{- $image := "" }}
      {{- if .Params.image_src }}
        {{- $image = .Resources.GetMatch .Params.image_src }}
      {{- end }}
    <!-- Blog entry -->
    <div class="bt-project-list-entry w3-card w3-margin w3-white">
      {{ if $image }}
		  <img class="bt-project-list-entry-image" src="{{ $image.RelPermalink }}" alt="{{ .Params.image_alt }}" style="width:100%">
		  {{ end }}
      <div class="bt-project-list-title-container w3-container">
        {{- if .Params.icon_name }}
          {{- $icon_pack := ( .Params.icon_pack | default "fa") }}
        <h3 class="bt-project-list-title w3-text-black w3-padding-8"><b><i class="{{ $icon_pack }} {{ .Params.icon_name }} bt-icon w3-margin-right w3-xlarge w3-text-teal"></i>{{ .Title }}</b></h3>
        {{- else }}
        <h3 class="bt-project-list-title w3-text-black w3-padding-8"><b><i class="fa fa-suitcase bt-icon w3-margin-right w3-xlarge w3-text-teal"></i>{{ .Title }}</b></h3>
        {{- end }}
        <span class="bt-project-list-date w3-left w3-opacity w3-small">{{ .Lastmod.Format "Monday, 02 January 2006 15:04 MST" }}</span>
      </div>
      <div class="bt-project-list-read-more w3-container">
        <p>{{ .Description }}</p>
        <div class="bt-project-list-read-more-row w3-row">
          <div class="bt-project-list-read-more-col w3-col m8 s12">
            <p><a class="bt-project-list-read-more-title w3-button w3-padding-large w3-white w3-border" title="Read More" alt="Read More" href="{{ .Permalink }}"><b>READ MORE &raquo;</b></a></p>
          </div>
        </div>
      </div>
    </div>
    {{- end }}
    {{- template "partials/pagination.html" . }}
  </div>
  {{ "<!-- End projects -->" | safeHTML }}
  {{ end }}
</div>
{{ "<!-- End project list -->" | safeHTML }}
{{ end }}

{{ define "page-header" }}
<header class="bt-page-header w3-container w3-center">
  <h3 class="bt-page-header-title w3-left w3-text-black w3-padding-8"><b><i class="fa fa-suitcase bt-icon w3-margin-right w3-xlarge w3-text-teal"></i></b>{{ (i18n "projects" | default "Projects") | markdownify }}</h3>
</header>
{{ end }}

{{ define "aside-left" }}
{{ partial "widgets/recent-updates.html" . }}
{{ partial "widgets/taxo-cloud.html" . }}
{{ end }}
