{{ define "main" }}
{{ "<!-- Project list -->" | safeHTML }}

 <!-- Header -->
<header class="w3-container w3-center w3-padding-32">
  <h1 class="w3-left">Projects</h1>
</header>

<div class="w3-row">
  {{ $projects := where .Site.RegularPages "Section" "project" }}
  {{ $current  := where .Site.RegularPages "Params.archived" false }}
  {{ $current_projects := $projects | intersect $current }}
  {{ $current_projects_count := len $current_projects }}
  {{ if ge $current_projects_count 1 }}
  {{ "<!-- Projects -->" | safeHTML }}
  <div class="w3-col l8 s12">
    {{ range $current_projects }}
    <!-- Blog entry -->
    <div class="w3-card w3-margin w3-white">
      {{ if .Params.image_src }}
		  <img class="" src="{{ .Params.image_src }}" alt="{{ .Params.image_alt }}" style="width:100%">
		  {{ else if .Params.thumb_src }}
		  <img class="" src="{{ .Params.thumb_src }}" alt="{{ .Params.thumb_alt }}" style="width:100%">
		  {{ end }}
      <div class="w3-container">
        <h3><b>{{ .Title }}</b></h3>
        <span class="w3-left w3-opacity w3-small">{{ .Date.Format "Monday, 02 January 2006 15:04 MST" }}</span>
      </div>
      <div class="w3-container">
        <p>{{ .Description }}</p>
        <div class="w3-row">
          <div class="w3-col m8 s12">
            <p><a class="w3-button w3-padding-large w3-white w3-border" title="Read More" alt="Read More" href="{{ .Permalink }}"><b>READ MORE &raquo;</b></a></p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  {{ end }}
  </div>
  {{ "<!-- End projects -->" | safeHTML }}
{{ end }}

<!-- Right side column -->
<div class="w3-col l4">
  {{- partial "widget-recent-updates.html" . -}}
  {{- partial "widget-tags.html" . -}}
<!-- Right side column -->
</div>

</div><br>

{{ "<!-- End project list -->" | safeHTML }}
{{ end }}
