{{ define "main" }}
{{ "<!-- Project list -->" | safeHTML }}
{{- $maxpaginate := .Site.Params.project.paginate | default 5 }}
<div class="bi-project-list-row bt-row">
  {{- $current_projects := (where (where .Site.RegularPages "Section" "project") "Params.archived" false) }}
  {{- $current_projects_count := len $current_projects }}
  {{- if ge $current_projects_count 1 }}
  {{- "<!-- Projects -->" | safeHTML }}
  <div class="bi-project-list-col bt-col">
    {{- range (.Paginate ( $current_projects.ByLastmod.Reverse ) $maxpaginate).Pages }}
      {{- $image := "" }}
      {{- if .Params.image_src }}
        {{- $image = .Resources.GetMatch .Params.image_src }}
      {{- end }}
    <!-- Blog entry -->
    <div class="bi-project-list-entry bt-card bt-margin bt-white">
      <a title="{{ .Title }}" alt="{{ .Title }}" href="{{ .Permalink }}" style="text-decoration:none;">
        <div class="bi-project-list-title-container bt-container">
          {{- if .Params.icon_name }}
            {{- $icon_pack := ( .Params.icon_pack | default "fa") }}
          <h3 class="bi-project-list-title bt-text-black bt-padding-8"><strong><i class="{{ $icon_pack }} {{ .Params.icon_name }} bi-icon bt-margin-right bt-xlarge bt-text-teal"></i></strong>{{ .Title }}</h3>
          {{- else }}
          <h3 class="bi-project-list-title bt-text-black bt-padding-8"><strong><i class="fa fa-suitcase bi-icon bt-margin-right bt-xlarge bt-text-teal"></i></strong>{{ .Title }}</h3>
          {{- end }}
        </div>
        <div class="bi-project-list-read-more bt-container">
          {{ if $image }}
    		  <img class="bi-project-list-entry-image bt-margin-bottom bt-margin-right bt-margin-top bt-left" src="{{ $image.RelPermalink }}" alt="{{ .Params.image_alt }}" style="width:150px;">
    		  {{ end }}
          <p>{{ .Description }}</p>
        </div>
      </a>
    </div>
    {{- end }}
    <div class="bi-article-navigation bt-container">
      <div class="bi-article-nav-row bt-row bt-center">
        {{- template "partials/pagination.html" . }}
      </div>
    </div>
  </div>
  {{ "<!-- End projects -->" | safeHTML }}
  {{ end }}
</div>
{{ "<!-- End project list -->" | safeHTML }}
{{ end }}

{{ define "page-header" }}
<header class="bi-page-header bt-container bt-center">
  <h3 class="bi-page-header-title bt-left bt-text-black bt-padding-8"><strong><i class="fa fa-cogs bi-icon bt-margin-right bt-xlarge bt-text-teal"></i></strong>{{ (i18n "projects" | default "Projects") | markdownify }}</h3>
</header>
{{ end }}

{{ define "aside-left" }}
{{ partial "widgets/recent-updates.html" . }}
{{ partial "widgets/taxo-cloud.html" . }}
{{ end }}
