{{ define "main" }}
{{ "<!-- Project single -->" | safeHTML }}
{{- with .Content }}
<div class="bt-project-single-about w3-container w3-card w3-margin w3-white">
  <p class="bt-project-single-about-content">{{ . }}</p>
</div>
{{- end }}
<div class="bt-project-single-row w3-row">
  {{ $blogs := where .Site.RegularPages "Section" "blog" }}
  {{ $project_blogs  := first 10 (where $blogs "Params.projects" "intersect" .Params.projects) }}
  {{ $project_blogs_count := len $project_blogs }}
  {{ if ge $project_blogs_count 1 }}
  {{ "<!-- Blogs -->" | safeHTML }}
  <div class="bt-project-single-col w3-col">
    {{- with .Content }}{{/* Title acts as separator between page default content and blogs. */}}
    <div class="bt-index-projects-active-title-container w3-container w3-center">
      <h4 class="bt-index-projects-active-title w3-left">Blogs</h4>
    </div>
    {{- end }}
    {{ range $project_blogs }}
      {{- $blogpage := . }}
      {{- $image := "" }}
      {{- if .Params.image_src }}
        {{- $image = .Resources.GetMatch .Params.image_src }}
      {{- end }}
    <!-- Blog entry -->
    <div class="bt-project-single-entry w3-card w3-margin w3-white">
      {{ if $image }}
		  <img class="bt-project-single-entry-image" src="{{ $image.RelPermalink }}" alt="{{ .Params.image_alt }}" style="width:100%">
		  {{ end }}
      <div class="bt-project-single-title-container w3-container">
        {{- if .Params.icon_name }}
          {{- $icon_pack := ( .Params.icon_pack | default "fa") }}
        <h3 class="bt-project-single-title w3-text-black"><b><i class="{{ $icon_pack }} {{ .Params.icon_name }} bt-icon w3-margin-right w3-large w3-text-teal"></i></b>{{ (.Title | default .Site.Title) }}</h3>
        {{- else }}
        <h3 class="bt-project-single-title w3-text-black"><b><i class="fa fa-suitcase bt-icon w3-margin-right w3-large w3-text-teal"></i></b>{{ (.Title | default .Site.Title) }}</h3>
        {{- end }}
        {{- $author := "" }}
        {{- $link   := "" }}
        {{- with .Params.Author }}
          {{- $author   = (partial `functions/get_team_member_displayname` $blogpage ) }}
          {{- $profile := (partial `functions/get_team_member_profile` $blogpage ) }}
          {{- with $profile }}
            {{- $link   = .RelPermalink }}
          {{- end }}
        {{- end }}
        <span class="bt-project-single-date w3-left w3-opacity w3-small">{{ .Date.Format "Monday, 02 January 2006 15:04 MST" }}{{if .Params.Author}} - {{ if $link }}<a href="{{ $link }}">{{ end }}{{ $author }}{{ if $link }}</a>{{ end }}{{ end }}</span>
      </div>
      <div class="bt-project-single-description w3-container">
        <p>{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary | plainify | emojify }}{{ end }}</p>
        {{- if or (.Description) (.Truncated) }}
        <div class="bt-project-single-read-more-row w3-row">
          <div class="bt-project-single-read-more-col w3-col m12 s12">
            <p class="bt-project-single-read-more-title w3-right"><a class="w3-button w3-padding-large w3-white w3-border" title="Read More" alt="Read More" href="{{ .Permalink }}"><b>READ MORE &Rang;</b></a></p>
          </div>
        </div>
        {{- end }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ "<!-- End blogs -->" | safeHTML }}
  {{- end }}
  {{- $projects := (where (where .Site.RegularPages "Section" "project") "Params.archived" false) }}
  {{- $current_projects  := (where (where ($projects) "Params.external" false) "Params.active" true).ByParam "short_title" }}
  {{- $inactive_projects := (where (where ($projects) "Params.external" false) "Params.active" false).ByParam "short_title" }}
  {{- $external_projects := (where ($projects) "Params.external" true).ByParam "short_title" }}
  {{- $articles := $external_projects | union $inactive_projects | union $current_projects }}
  {{ partial "article-navigation.html" (dict "label" "project" "context" . "articles" $articles) }}
</div>
{{ "<!-- End project single -->" | safeHTML }}
{{ end }}

{{ define "page-header" }}
<header class="bt-page-header w3-container w3-center">
  {{- if .Params.icon_name }}
    {{- $icon_pack := ( .Params.icon_pack | default "fa") }}
  <h3 class="bt-page-header-title w3-left w3-text-black"><b><i class="{{ $icon_pack }} {{ .Params.icon_name }} bt-icon w3-margin-right w3-xlarge w3-text-teal"></i></b>{{ .Title | default .Site.Title }}</h3>
  {{- else }}
  <h3 class="bt-page-header-title w3-left w3-text-black"><b><i class="fa fa-suitcase bt-icon w3-margin-right w3-xlarge w3-text-teal"></i></b>{{ .Title | default .Site.Title }}</h3>
  {{- end }}
</header>
{{ end }}

{{ define "aside-left" }}
<!-- About Project -->
<div class="bt-project-about-project w3-card w3-margin w3-margin-top">
  {{- $image := "" }}
  {{- if .Params.image_src }}
    {{- $image = .Resources.GetMatch .Params.image_src }}
  {{- end }}
  {{ if $image }}
  <img class="bt-project-about-project-image bt-image" src="{{ $image.RelPermalink }}" alt="{{ .Params.image_alt }}" style="width:100%">
  {{ end }}
  <div class="bt-project-about-project-title-container w3-container w3-white">
    {{- if .Params.icon_name }}
      {{- $icon_pack := ( .Params.icon_pack | default "fa") }}
    <h4 class="bt-project-about-project-title w3-text-black"><b><i class="{{ $icon_pack }} {{ .Params.icon_name }} bt-icon w3-margin-right w3-large w3-text-teal"></i></b>{{ (.Title | default .Site.Title) | truncate 20 }}</h4>
    {{- else }}
    <h4 class="bt-project-about-project-title w3-text-black"><b><i class="fa fa-suitcase bt-icon w3-margin-right w3-large w3-text-teal"></i></b>{{ (.Title | default .Site.Title) | truncate 25 }}</h4>
    {{- end }}
    <p class="bt-project-about-project-description ">{{ .Description }}</p>
  </div>
</div>
{{ partial "widgets/project-contact.html" (dict "context" . "project" . ) }}
{{ partial "widgets/recent-updates.html" . }}
{{ partial "widgets/taxo-cloud.html" . }}
{{ end }}
