{{ define "main" }}
{{ "<!-- Project single -->" | safeHTML }}

 <!-- Header -->
<header class="w3-container w3-center">
  <h3 class="w3-left">{{ .Title | default .Site.Title }}</h3>
</header>

<div class="w3-row">
  {{ $blogs := where .Site.RegularPages "Section" "blog" }}
  {{ $project_blogs  := first 10 (where $blogs "Params.projects" "intersect" .Params.projects) }}
  {{ $project_blogs_count := len $project_blogs }}
  {{ if ge $project_blogs_count 1 }}
  {{ "<!-- Blogs -->" | safeHTML }}
  <div class="w3-col l8 s12">
    {{ range $project_blogs }}
      {{- $image := "" }}
      {{- if .Params.image_src }}
        {{- $image = .Resources.GetMatch .Params.image_src }}
      {{- end }}
    <!-- Blog entry -->
    <div class="w3-card w3-margin w3-white">
      {{ if $image }}
		  <img class="" src="{{ $image.RelPermalink }}" alt="{{ .Params.image_alt }}" style="width:100%">
		  {{ end }}
      <div class="w3-container">
        <h3><b>{{ .Title }}</b></h3>
        <span class="w3-left w3-opacity w3-small">{{ .Date.Format "Monday, 02 January 2006 15:04 MST" }}{{if .Params.Author}} - {{.Params.Author}}{{end}}</span>
      </div>
      <div class="w3-container">
        <p>{{ .Description }}</p>
        <div class="w3-row">
          <div class="w3-col m8 s12">
            <p><a class="w3-button w3-padding-large w3-white w3-border" title="Read More" alt="Read More" href="{{ .Permalink }}"><b>READ MORE &raquo;</b></a></p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  {{ end }}
  </div>
  {{ "<!-- End blogs -->" | safeHTML }}
{{ end }}

<!-- Right side column -->
<div class="w3-col l4">
  <!-- About Project -->
  <div class="w3-card w3-margin w3-margin-top">
    {{- $image := "" }}
    {{- if .Params.image_src }}
      {{- $image = .Resources.GetMatch .Params.image_src }}
    {{- end }}
    {{ if $image }}
    <img class="" src="{{ $image.RelPermalink }}" alt="{{ .Params.image_alt }}" style="width:100%">
    {{ end }}
    <div class="w3-container w3-white">
      <h4><b>{{ .Title }}</b></h4>
      <p>{{ .Description }}</p>
    </div>
  </div>
  <hr>

  {{- partial "widget-recent-updates.html" . -}}
  {{- partial "widget-tags.html" . -}}

<!-- Right side column -->
</div>

</div><br>

{{ "<!-- End project single -->" | safeHTML }}
{{ end }}
