{{ define "main" }}
{{- $maxpaginate := 12 }}
{{- if .Site.Params.team }}
{{- $maxpaginate = .Site.Params.team.paginate | default 12 }}
{{- end }}
      <article> {{ "<!-- Team -->" | safeHTML }}
        <section> {{ printf "<!-- The team -->" | safeHTML }}
          <div class="w3-row-padding">
  {{- range (.Paginator $maxpaginate).Pages.ByParam "name" }}
    {{- $member := .Page }}
    {{- $avatar := "" }}
    {{- if $member.Params.avatar }}
      {{- $image := $member.Resources.GetMatch $member.Params.avatar }}
      {{- if $image }}
        {{- $avatar = $image.Resize "600x600" }}
      {{- end }}
    {{- end }}
            <div class="w3-col l3 m6 w3-margin-bottom">
              <a title="{{ $member.Params.Name }}" href="{{ $member.RelPermalink }}" style="text-decoration:none;">
                <div class="w3-card">
    {{- if $avatar }}
                  <img class="w3-hover-grayscale" src="{{ $avatar.RelPermalink }}" alt="{{ $member.Params.Name | truncate 18 }}" style="width:100%">
    {{- end }}
                  <div class="w3-container w3-center"><h5>{{ $member.Params.Name | truncate 18 }}</h5></div>
                </div>
              </a>
            </div>
  {{- end }}
          </div>
        </section> {{ printf "<!-- End The team -->" | safeHTML }}
        {{- template "partials/pagination.html" . }}
      </article> {{ "<!-- End Team -->" | safeHTML }}
{{- end }}

{{ define "page-header" }}
<header class="w3-container w3-center">
  <h3 class="w3-left">{{ humanize .Section }}</h3>
</header>
{{ end }}
