{{ define "main" }}
{{- $maxpaginate := 12 }}
{{- if .Site.Params.team }}
{{- $maxpaginate = .Site.Params.team.paginate | default 12 }}
{{- end }}
      <article class="bt-team-list"> {{ "<!-- Team -->" | safeHTML }}
        <section class="bt-team-list-section"> {{ printf "<!-- The team -->" | safeHTML }}
          <div class="bt-team-list-section-row w3-row-padding">
  {{- range (.Paginator $maxpaginate).Pages.ByParam "name" }}
    {{- $member := .Page }}
    {{- $avatar := "" }}
    {{- if $member.Params.avatar }}
      {{- $image := $member.Resources.GetMatch $member.Params.avatar }}
      {{- if $image }}
        {{- $avatar = $image.Resize "600x600" }}
      {{- end }}
    {{- end }}
            <div class="bt-team-list-section-col w3-col l3 m6 w3-margin-bottom">
              <a class="bt-team-list-link" title="{{ $member.Params.Name }}" href="{{ $member.RelPermalink }}" style="text-decoration:none;">
                <div class="bt-team-list-card w3-card">
    {{- if $avatar }}
                  <img class="bt-team-list-image bt-image w3-hover-grayscale" src="{{ $avatar.RelPermalink }}" alt="{{ $member.Params.Name | truncate 18 }}" style="width:100%">
    {{- end }}
                  <div class="bt-team-list-name w3-container w3-center"><h5>{{ $member.Params.Name | truncate 18 }}</h5></div>
                </div>
              </a>
            </div>
  {{- end }}
          </div>
        </section> {{ printf "<!-- End The team -->" | safeHTML }}
        {{- template "partials/pagination.html" . }}
      </article> {{ "<!-- End Team -->" | safeHTML }}
{{- end }}

{{ define "page-header" }}
<header class="bt-page-header w3-container w3-center">
  <h3 class="bt-page-header-title w3-left w3-text-black"><b><i class="fa fa-users w3-margin-right w3-xlarge w3-text-teal"></i></b>{{ (i18n "team" | default "Team") | markdownify }}</h3>
</header>
{{ end }}
