{{ define "main" }}
      <article class="bi-gallery"> {{ "<!-- Gallery -->" | safeHTML }}
        {{- if .Content }}{{ .Content }}{{end}}
  {{- range .Pages }}
  {{- $album := .Page }}
        <section class="bi-gallery-section"> {{ printf "<!-- %#v site gallery -->" .Params.title | safeHTML }}
          <div class="bi-gallery-section-title-container bt-container bt-center">
            <h4 class="bi-gallery-section-title bt-left">{{ .Params.title }}</h4>
          </div>
          <div class="bi-gallery-section-content-container bt-row-padding">
    {{- if $album.Resources }}
      {{- range $album.Resources.ByType "image" }}
        {{- $albumfolder  := (path.Split (trim (path.Split .Name).Dir "/")).File }}
        {{- $filename     := path.Base .Name }}
        {{- $albuminclude := true }}
        {{- $include      := true }}
        {{- $extnurl      := ""      }}
        {{- $caption      := "Noname"}}
        {{- $alt          := "Noname"}}
        {{- if $album.Params.gallery }}
          {{- range (where $album.Params.gallery "album" $albumfolder) }}
            {{- $albuminclude = (not .exclude) }}
            {{- if .images }}
              {{- range (where .images "image" $filename) }}
                {{- $include = (not .exclude) }}
                {{- $extnurl = .external_url }}
                {{- $caption = .caption }}
                {{- if .alt}}{{$alt = .alt}}{{else}}{{$alt = .caption}}{{end}}
              {{- end }}
            {{- end }}
          {{- end }}
        {{- end }}
        {{- if and ($albuminclude) ($include) }}
          {{- $image := .Resize "600x600" }}
            <div class="bi-gallery-image-object bt-col l3 m6 bt-margin-bottom">
              <a title="{{ $caption }}" href="{{ if $extnurl }}{{ $extnurl }}{{ else }}{{ .RelPermalink }}{{ end }}" style="text-decoration:none;">
                <div class="bi-gallery-image-card bt-card">
                  <img class="bi-gallery-image bt-hover-greyscale" src="{{ $image.RelPermalink }}" alt="{{ $alt }}" style="width:100%">
                  <div class="bi-gallery-caption bt-container bt-center"><h5>{{ $caption | truncate 18 }}</h5></div>
                </div>
              </a>
            </div>
        {{- end }}
      {{- end }}
    {{- else }}
            <div class="bi-gallery-message bt-container bt-center bt-margin-bottom"><h5>Gallery <strong>{{ .Params.title }}</strong> has no resources yet.</h5></div>
    {{- end }}
          </div>
        </section> {{ printf "<!-- End %#v site gallery -->" .Params.title | safeHTML }}
        <hr>
  {{- end }}




{{ $projects := where .Site.RegularPages "Section" "project" }}
{{ $current  := where .Site.RegularPages "Params.archived" false }}
{{ $current_projects := $projects | intersect $current }}
{{ $current_projects_count := len $current_projects }}
{{ if ge $current_projects_count 1 }}
  {{- range $current_projects }}
  {{- $album := .Page }}
    {{- if $album.Resources }}
      {{- $includedalbums := (where $album.Params.gallery "exclude" false) }}
      {{- $includedalbum_count := len $includedalbums }}
      {{- if ge $includedalbum_count 1 }}
        <section> {{ printf "<!-- %#v project gallery -->" .Params.title | safeHTML }}
          <div class="bt-container bt-center">
            <h4 class="bt-left">{{ .Params.title }}</h4>
          </div>
          <div class="bt-row-padding">
        {{- range $album.Resources.ByType "image" }}
          {{- $albumfolder  := (path.Split (trim (path.Split .Name).Dir "/")).File }}
          {{- $filename     := path.Base .Name }}
          {{- $albuminclude := true }}
          {{- $include      := true }}
          {{- $extnurl      := ""      }}
          {{- $caption      := "Noname"}}
          {{- $alt          := "Noname"}}
          {{- if $album.Params.gallery }}
            {{- range (where $album.Params.gallery "album" $albumfolder) }}
              {{- $albuminclude = (not .exclude) }}
              {{- if .images }}
                {{- range (where .images "image" $filename) }}
                  {{- $include = (not .exclude) }}
                  {{- $extnurl = .external_url }}
                  {{- $caption = .caption }}
                  {{- if .alt}}{{$alt = .alt}}{{else}}{{$alt = .caption}}{{end}}
                  {{- end }}
              {{- end }}
            {{- end }}
          {{- end }}
          {{- if and ($albuminclude) ($include) }}
            {{- $image := .Resize "600x600" }}
            <div class="bt-col l3 m6 bt-margin-bottom">
              <a title="{{ $caption }}" href="{{ if $extnurl }}{{ $extnurl }}{{ else }}{{ .RelPermalink }}{{ end }}" style="text-decoration:none;">
                <div class="bt-card">
                  <img class="bt-hover-greyscale" src="{{ $image.RelPermalink }}" alt="{{ $alt }}" style="width:100%">
                  <div class="bt-container bt-center"><h5>{{ $caption | truncate 18 }}</h5></div>
                </div>
              </a>
            </div>
          {{- end }}
        {{- end }}
          </div>
        </section> {{ printf "<!-- End %#v project gallery -->" .Params.title | safeHTML }}
        <hr>
      {{- end }}
    {{- end }}
  {{- end }}

{{- end }}

      </article> {{ "<!-- End Gallery -->" | safeHTML }}
{{- end }}

{{ define "page-header" }}
<header class="bi-page-header bt-container bt-center">
  <h3 class="bi-page-header-title bt-left bt-text-black"><strong><i class="fa fa-camera bi-icon bt-margin-right bt-xlarge bt-text-teal"></i></strong>{{ (i18n "gallery" | default "Gallery") | markdownify }}</h3>
</header>
{{ end }}
