{{ define "main" }}
      <article> {{ "<!-- Gallery -->" | safeHTML }}
        <div class="w3-container w3-center">
          <h3 class="w3-left">{{ humanize .Section }}</h3>
        </div>
        <hr>
  {{- range .Paginator.Pages }}
  {{- $album := .Page }}
        <section> {{ printf "<!-- %#v site gallery -->" .Params.title | safeHTML }}
          <div class="w3-container w3-center">
            <h4 class="w3-left">{{ .Params.title }}</h4>
          </div>
          <div class="w3-row-padding">
    {{- if .Resources }}
      {{- range .Resources.ByType "image" }}
        {{- $image := .Resize "600x600" }}
        {{- $filename := path.Base .Name }}
        {{- $caption  := "Noname"}}
        {{- $alt      := "Noname"}}
        {{- if $album.Params.gallery }}
          {{- range (where $album.Params.gallery "image" $filename) }}
            {{- $caption = .caption }}
            {{- if .alt}}{{$alt = .alt}}{{else}}{{$alt = .caption}}{{end}}
          {{- end }}
        {{- end }}
            <div class="w3-col l3 m6 w3-margin-bottom">
              <a title="Documentation" href="{{ .RelPermalink }}" style="text-decoration:none;">
                <div class="w3-card">
                  <img class="w3-hover-grayscale" src="{{ $image.RelPermalink }}" alt="{{ $alt }}" style="width:100%">
                  <div class="w3-container w3-center"><h5>{{ $caption }}</h5></div>
                </div>
              </a>
            </div>
      {{- end }}
    {{- else }}
            <div class="w3-container w3-center w3-margin-bottom"><h5>Gallery <strong>{{ .Params.title }}</strong> has no resources yet.</h5></div>
    {{- end }}
          </div>
        </section> {{ printf "<!-- End %#v site gallery -->" .Params.title | safeHTML }}
        <hr>
  {{- end }}
      </article> {{ "<!-- End Gallery -->" | safeHTML }}
{{- end }}
