    <div class="bt-header w3-top"> {{ "<!-- Header navigation bar -->" | safeHTML }}
      <div class="bt-header-navbar w3-bar w3-white w3-wide w3-padding w3-card">
        <a class="bt-button bt-header-home-button w3-bar-item w3-button w3-round" title="Home" href="/"><img class="" alt="" style="height:1.2em" src="/images/logo.png"> {{ .Site.Title | upper }}</a>
        <div class="bt-button-container w3-right w3-hide-small"> {{ "<!-- Float links to the right. Hide them on small screens. -->" | safeHTML }}
          <a class="bt-button bt-header-button w3-bar-item w3-button w3-round" title="Projects" alt="Projects" href="/project"><i class="fa fa-cogs w3-hover-opacity"></i>Projects</a>
          <a class="bt-button bt-header-button w3-bar-item w3-button w3-round" title="Team" alt="Team" href="/team"><i class="fa fa-users w3-hover-opacity"></i>Team</a>
          <a class="bt-button bt-header-button w3-bar-item w3-button w3-round" title="Gallery" alt="Gallery" href="/gallery"><i class="fa fa-camera w3-hover-opacity"></i>Gallery</a>
        </div>
      </div>
    </div> {{ "<!-- End header navigation bar -->" | safeHTML -}}
