{{- $logo := resources.Get "images/logo.png" }}
    <div class="bi-header bt-top"> {{ "<!-- Header navigation bar -->" | safeHTML }}
      <div class="bi-header-navbar bt-bar bt-white bt-wide bt-padding bt-card">
        <a class="bi-button bi-header-home-button bt-bar-item bt-button bt-round" title="Home" href="/">{{ if $logo }}<img class="" alt="" style="height:1.2em" src="{{ $logo.Permalink }}"> {{ end }}{{ .Site.Title | upper }}</a>

{{- if site.Menus.main }}
        <div class="bi-button-container bt-right"> {{ "<!-- Float links to the right. Hide them on small screens. -->" | safeHTML }}
          <a class="bi-button bi-header-button bt-bar-item bt-button bt-round" title="Gallery" alt="Gallery" href="/gallery"><i class="fa fa-bars bt-hover-opacity"></i></a>
        </div>
{{- end }}

        <div class="bi-button-container bt-right bt-hide-small"> {{ "<!-- Float links to the right. Hide them on small screens. -->" | safeHTML }}
          <a class="bi-button bi-header-button bt-bar-item bt-button bt-round" title="Projects" alt="Projects" href="/project"><i class="fa fa-cogs bt-hover-opacity"></i>Projects</a>
          <a class="bi-button bi-header-button bt-bar-item bt-button bt-round" title="Team" alt="Team" href="/team"><i class="fa fa-users bt-hover-opacity"></i>Team</a>
          <a class="bi-button bi-header-button bt-bar-item bt-button bt-round" title="Gallery" alt="Gallery" href="/gallery"><i class="fa fa-camera bt-hover-opacity"></i>Gallery</a>
        </div>


      </div>
    </div> {{ "<!-- End header navigation bar -->" | safeHTML -}}
