{{ define "main" }}
{{ "<!-- Blogs list -->" | safeHTML }}
<div class="bi-blog-list-row bt-row">
  {{ "<!-- Projects -->" | safeHTML }}
  <div class="bi-blog-list-col bt-col">
    {{ range .Paginator.Pages.ByLastmod.Reverse }}
      {{- $image := "" }}
      {{- if .Params.image_src }}
        {{- $image = .Resources.GetMatch .Params.image_src }}
      {{- end }}
      {{- $projectname := "" }}
      {{- $project     := first 1 (where (where .Site.RegularPages "Section" "project") "Params.projects" "intersect" .Params.projects) }}
      {{- range $project }}{{ $projectname = .Params.short_title }}{{ end }}
    <!-- Blog entry -->
    <div class="bi-blog-list bt-card bt-margin bt-white">
      <a title="{{ .Title }}" alt="{{ .Title }}" href="{{ .Permalink }}" style="text-decoration:none;">
        <div class="bt-row">
          <div class="bi-blog-list-title-container bt-container bt-col m9 s9">
            {{- if .Params.icon_name }}
              {{- $icon_pack := ( .Params.icon_pack | default "fa") }}
            <h3 class="bi-blog-list-title bt-text-black"><strong><i class="{{ $icon_pack }} {{ .Params.icon_name }} bi-icon bt-margin-right bt-large bt-text-teal"></i></strong>{{ if $projectname }}{{ $projectname }} - {{ end }}{{ (.Title | default .Site.Title) }}</h3>
            {{- else }}
            <h3 class="bi-blog-list-title bt-text-black"><strong><i class="fa fa-pencil bi-icon bt-margin-right bt-large bt-text-teal"></i></strong>{{ if $projectname }}{{ $projectname }} - {{ end }}{{ (.Title | default .Site.Title) }}</h3>
            {{- end }}
            <span class="bi-blog-list-date bt-left bt-opacity bt-small">{{ .Lastmod.Format "Monday, 02 January 2006 15:04 MST" }}</span>
          </div>
          <div class="bi-blog-list-description-read-more-col bt-container bt-col m3 s3">
            {{- if or (.Description) (.Truncated) }}
            <p class="bi-blog-list-description-read-more-title bt-right bt-text-grey"><strong>READ MORE</strong></p>
            {{- end }}
          </div>
        </div>
        <div class="bi-blog-list-description bt-container">
          {{ if $image }}
    		  <img class="bi-blog-list-image bi-image bt-margin-bottom bt-margin-right bt-margin-top bt-left" src="{{ $image.RelPermalink }}" alt="{{ .Params.image_alt }}" style="width:150px;">
    		  {{ end }}
          <p>{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary | plainify | emojify }}{{ end }}</p>
        </div>
      </a>
    </div>
    {{- end }}
  </div>
  {{ template "partials/pagination.html" . }}
  {{ "<!-- End blogs -->" | safeHTML }}
</div>
{{ "<!-- End blogs list -->" | safeHTML }}
{{ end }}

{{ define "page-header" }}
<header class="bi-page-header bt-container bt-center">
  <h3 class="bi-page-header-title bt-left bt-text-black"><strong><i class="fa fa-pencil bi-icon bt-margin-right bt-xlarge bt-text-teal"></i></strong>{{ (i18n "blogs" | default "Blogs") | markdownify }}</h3>
</header>
{{ end }}

{{ define "aside-left" }}
{{ partial "widgets/recent-updates.html" . }}
{{ partial "widgets/taxo-cloud.html" . }}
{{ end }}
