{{ define "main" }}
{{ "<!-- Blogs list -->" | safeHTML }}
<div class="bi-blog-list-row bt-row">
  {{ "<!-- Projects -->" | safeHTML }}
  <div class="bi-blog-list-col bt-col">
    {{ range .Paginator.Pages.ByLastmod.Reverse }}
      {{- $image := "" }}
      {{- if .Params.image_src }}
        {{- $image = .Resources.GetMatch .Params.image_src }}
      {{- end }}
    <!-- Blog entry -->
    <div class="bi-blog-list bt-card bt-margin bt-white">
      {{ if $image }}
		  <img class="bi-blog-list-image bi-image" src="{{ $image.RelPermalink }}" alt="{{ .Params.image_alt }}" style="width:100%">
		  {{ end }}
      <div class="bi-blog-list-title-container bt-container">
        {{- if .Params.icon_name }}
          {{- $icon_pack := ( .Params.icon_pack | default "fa") }}
        <h3 class="bi-blog-list-title bt-text-black"><strong><i class="{{ $icon_pack }} {{ .Params.icon_name }} bi-icon bt-margin-right bt-large bt-text-teal"></i></strong>{{ (.Title | default .Site.Title) }}</h3>
        {{- else }}
        <h3 class="bi-blog-list-title bt-text-black"><strong><i class="fa fa-suitcase bi-icon bt-margin-right bt-large bt-text-teal"></i></strong>{{ (.Title | default .Site.Title) }}</h3>
        {{- end }}
        <span class="bi-blog-list-date bt-left bt-opacity bt-small">{{ .Lastmod.Format "Monday, 02 January 2006 15:04 MST" }}</span>
      </div>
      <div class="bi-blog-list-description bt-container">
        <p>{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary | plainify | emojify }}{{ end }}</p>
        {{- if or (.Description) (.Truncated) }}
        <div class="bi-blog-list-description-read-more-row bt-row">
          <div class="bi-blog-list-description-read-more-col bt-col m8 s12">
            <p class="bi-blog-list-description-read-more-title"><a class="bi-blog-list-description-read-more-link bt-button bt-padding-large bt-white bt-border" title="Read More" alt="Read More" href="{{ .Permalink }}"><strong>READ MORE &raquo;</strong></a></p>
          </div>
        </div>
        {{- end }}
      </div>
    </div>
    {{- end }}
  </div>
  {{ template "partials/pagination.html" . }}
  {{ "<!-- End blogs -->" | safeHTML }}
</div>
{{ "<!-- End blogs list -->" | safeHTML }}
{{ end }}

{{ define "page-header" }}
<header class="bi-page-header bt-container bt-center">
  <h3 class="bi-page-header-title bt-left bt-text-black"><strong><i class="fa fa-suitcase bi-icon bt-margin-right bt-xlarge bt-text-teal"></i></strong>{{ (i18n "blogs" | default "Blogs") | markdownify }}</h3>
</header>
{{ end }}

{{ define "aside-left" }}
{{ partial "widgets/recent-updates.html" . }}
{{ partial "widgets/taxo-cloud.html" . }}
{{ end }}
