{{ define "main" }}
{{ "<!-- Blogs list -->" | safeHTML }}
<div class="bt-blog-list-row w3-row">
  {{ "<!-- Projects -->" | safeHTML }}
  <div class="bt-blog-list-col w3-col">
    {{ range .Paginator.Pages.ByLastmod.Reverse }}
      {{- $image := "" }}
      {{- if .Params.image_src }}
        {{- $image = .Resources.GetMatch .Params.image_src }}
      {{- end }}
    <!-- Blog entry -->
    <div class="bt-blog-list w3-card w3-margin w3-white">
      {{ if $image }}
		  <img class="bt-blog-list-image bt-image" src="{{ $image.RelPermalink }}" alt="{{ .Params.image_alt }}" style="width:100%">
		  {{ end }}
      <div class="bt-blog-list-title-container w3-container">
        {{- if .Params.icon_name }}
          {{- $icon_pack := ( .Params.icon_pack | default "fa") }}
        <h3 class="bt-blog-list-title w3-text-black"><b><i class="{{ $icon_pack }} {{ .Params.icon_name }} bt-icon w3-margin-right w3-large w3-text-teal"></i></b>{{ (.Title | default .Site.Title) }}</h3>
        {{- else }}
        <h3 class="bt-blog-list-title w3-text-black"><b><i class="fa fa-suitcase bt-icon w3-margin-right w3-large w3-text-teal"></i></b>{{ (.Title | default .Site.Title) }}</h3>
        {{- end }}
        <span class="bt-blog-list-date w3-left w3-opacity w3-small">{{ .Lastmod.Format "Monday, 02 January 2006 15:04 MST" }}</span>
      </div>
      <div class="bt-blog-list-description w3-container">
        <p>{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary | plainify | emojify }}{{ end }}</p>
        {{- if or (.Description) (.Truncated) }}
        <div class="bt-blog-list-description-read-more-row w3-row">
          <div class="bt-blog-list-description-read-more-col w3-col m8 s12">
            <p class="bt-blog-list-description-read-more-title"><a class="bt-blog-list-description-read-more-link w3-button w3-padding-large w3-white w3-border" title="Read More" alt="Read More" href="{{ .Permalink }}"><b>READ MORE &raquo;</b></a></p>
          </div>
        </div>
        {{- end }}
      </div>
    </div>
    {{- end }}
  </div>
  {{ template "partials/pagination.html" . }}
  {{ "<!-- End blogs -->" | safeHTML }}
</div>
{{ "<!-- End blogs list -->" | safeHTML }}
{{ end }}

{{ define "page-header" }}
<header class="bt-page-header w3-container w3-center">
  <h3 class="bt-page-header-title w3-left w3-text-black"><b><i class="fa fa-suitcase bt-icon w3-margin-right w3-xlarge w3-text-teal"></i></b>{{ (i18n "blogs" | default "Blogs") | markdownify }}</h3>
</header>
{{ end }}

{{ define "aside-left" }}
{{ partial "widgets/recent-updates.html" . }}
{{ partial "widgets/taxo-cloud.html" . }}
{{ end }}
