{{ define "main" }}
{{ "<!-- Blogs single -->" | safeHTML }}
{{- $page := . }}
{{- $projects := where .Site.RegularPages "Section" "project" }}
{{- $project  := first 1 (where $projects "Params.projects" "intersect" .Params.projects) }}
<div class="bt-blog-single-row w3-row">
  {{ "<!-- Blog -->" | safeHTML }}
  <div class="bt-blog-single-col w3-col">
    <!-- Blog entry -->
    <div class="bt-blog-single-entry w3-card w3-margin w3-white">
      {{ if .Params.image_src }}
		  <img class="bt-blog-single-entry-image bt-image" src="{{ .Params.image_src }}" alt="{{ .Params.image_alt }}" style="width:100%">
		  {{ else if .Params.thumb_src }}
		  <img class="bt-blog-single-entry-image bt-image" src="{{ .Params.thumb_src }}" alt="{{ .Params.thumb_alt }}" style="width:100%">
		  {{ end }}
      <div class="bt-blog-single-title-container w3-container">
        {{- if .Params.icon_name }}
          {{- $icon_pack := ( .Params.icon_pack | default "fa") }}
        <h3 class="bt-blog-single-title w3-text-black"><b><i class="{{ $icon_pack }} {{ .Params.icon_name }} bt-icon w3-margin-right w3-large w3-text-teal"></i></b>{{ (.Title | default .Site.Title) }}</h3>
        {{- else }}
        <h3 class="bt-blog-single-title w3-text-black"><b><i class="fa fa-suitcase bt-icon w3-margin-right w3-large w3-text-teal"></i></b>{{ (.Title | default .Site.Title) }}</h3>
        {{- end }}
        {{- $author := "" }}
        {{- $link   := "" }}
        {{- with .Params.Author }}
          {{- $author   = (partial `functions/get_team_member_displayname` $page) }}
          {{- $profile := (partial `functions/get_team_member_profile` $page) }}
          {{- with $profile }}
            {{- $link   = .RelPermalink }}
          {{- end }}
        {{- end }}
        <span class="bt-blog-single-date w3-left w3-opacity w3-small">{{ .Date.Format "Monday, 02 January 2006 15:04 MST" }}{{if .Params.Author}} - {{ if $link }}<a href="{{ $link }}">{{ end }}{{ $author }}{{ if $link }}</a>{{ end }}{{ end }}</span>
      </div>
      <div class="bt-blog-single-description w3-container">
        <p>{{ .Description }}</p>
        <hr>
        {{ .Content }}
        {{- if and (.Params.Author) (.Params.about_show) (.Params.about_inline) }}
          {{- $profile := partial `functions/get_team_member_profile` . }}
          {{- with $profile }}
          <div class="bt-blog-about w3-margin-bottom">
            <hr>
            <a class="bt-blog-about-link" href="{{ .Permalink }}" style="text-decoration:none;">
              <div class="bt-blog-about-title-container">
                <h4 class="bt-blog-about-title w3-text-black"><b><i class="fa fa-pencil-square-o bt-icon w3-margin-right w3-large w3-text-teal"></i></b>{{ (i18n "about" | default "About") | markdownify }} {{ .Params.Name }}</h4>
                <span class="bt-blog-about-bio w3-small">{{ .Params.bio }}</span>
              </div>
            </a>
          </div>
          {{- end }}
        {{- end }}
      </div>
    </div>
    {{- if and (.Params.Author) (.Params.about_show) (not .Params.about_inline) }}
      {{ partial "widgets/team-about.html" . }}
    {{- end }}
  </div>
  {{ "<!-- End blog -->" | safeHTML }}
</div>

</div>
{{ "<!-- End blogs single -->" | safeHTML }}
{{ end }}

{{ define "page-header" }}
  {{- $projects := where .Site.RegularPages "Section" "project" }}
  {{- $project  := first 1 (where $projects "Params.projects" "intersect" .Params.projects) }}
  {{- $project_count := len $project }}
<header class="bt-page-header w3-container w3-center">
  {{- if ge $project_count 1 }}
    {{- range $project }}
      {{- if .Params.icon_name }}
        {{- $icon_pack := ( .Params.icon_pack | default "fa") }}
    <h3 class="bt-page-header-title w3-left w3-text-black"><b><i class="{{ $icon_pack }} {{ .Params.icon_name }} bt-icon w3-margin-right w3-xlarge w3-text-teal"></i></b>{{ .Title | default "Unknown project" }}</h3>
      {{- else }}
    <h3 class="bt-page-header-title w3-left w3-text-black"><b><i class="fa fa-suitcase bt-icon w3-margin-right w3-xlarge w3-text-teal"></i></b>{{ .Title | default "Unknown project" }}</h3>
      {{- end }}
    {{- end }}
  {{- else }}
  <h3 class="bt-page-header-title w3-left w3-text-black"><b><i class="fa fa-suitcase bt-icon w3-margin-right w3-xlarge w3-text-teal"></i></b>Unknown project</h3>
  {{- end }}
</header>
{{ end }}

{{ define "aside-left" }}
  {{- $projects := where .Site.RegularPages "Section" "project" }}
  {{- $project  := first 1 (where $projects "Params.projects" "intersect" .Params.projects) }}
  {{- $project_count := len $project }}

  <!-- About Project -->
  {{- if ge $project_count 1 }}
    {{- range $project }}
      {{- $image := "" }}
      {{- if .Params.image_src }}
        {{- $image = .Resources.GetMatch .Params.image_src }}
      {{- end }}
<!-- About Project -->
<div class="bt-blog-about-project w3-card w3-margin w3-margin-top">
  <a class="bt-blog-about-project-link" href="{{ .Permalink }}" style="text-decoration:none;">
      {{ if $image }}
    <img class="bt-blog-about-project-image bt-image" src="{{ $image.RelPermalink }}" alt="{{ .Params.image_alt }}" style="width:100%">
      {{ end }}
    <div class="bt-blog-about-project-title-container w3-container w3-white">
      {{- if .Params.icon_name }}
        {{- $icon_pack := ( .Params.icon_pack | default "fa") }}
      <h4 class="bt-blog-about-project-title w3-text-black"><b><i class="{{ $icon_pack }} {{ .Params.icon_name }} bt-icon w3-margin-right w3-large w3-text-teal"></i></b>{{ (.Title | default .Site.Title) | truncate 20 }}</h4>
      {{- else }}
      <h4 class="bt-blog-about-project-title w3-text-black"><b><i class="fa fa-suitcase bt-icon w3-margin-right w3-large w3-text-teal"></i></b>{{ (.Title | default .Site.Title) | truncate 25 }}</h4>
      {{- end }}
      <p class="bt-blog-about-project-description">{{ .Description }}</p>
    </div>
  </a>
</div>
    {{- end }}
  {{- end }}

{{ partial "widgets/recent-updates.html" . }}
{{ partial "widgets/taxo-cloud.html" . }}
{{ end }}
