{{ "<!-- Temporary showcase -->" | safeHTML }}
{{- $prjs := slice }}
      <hr>
      <article> {{ "<!-- Temporary format samples -->" | safeHTML }}
        <div class="bt-container bt-center">
          <h3 class="bt-left bt-text-black bt-padding-8"><strong><i class="fa fa-suitcase bt-margin-right bt-xlarge bt-text-teal"></i>Experimental examples</strong></h3>
        </div>
{{- $projects := (where (where .Site.RegularPages "Section" "project") "Params.archived" false) }}
	{{- $inactive  := where (where .Site.RegularPages "Params.active" false) "Params.archived" false }}
	{{- $inactive_projects := last 8 ($projects | intersect $inactive) }}
	{{- $inactive_projects_count := len $inactive_projects }}
	{{- if ge $inactive_projects_count 1 }}
		{{- range $inactive_projects }}
			{{- $image_file := "" }}
			{{- $image_src  := "" }}
			{{- if .Params.image_src }}
				{{- $image_file = .Resources.GetMatch .Params.image_src }}
			{{- else }}
			  {{ if .Site.Params.defaultImage }}
			    {{- $image_file = .Resources.GetMatch .Site.Params.defaultImage }}
					{{- $image_src = .Site.Params.defaultImage }}
				{{ else }}
				  {{- $image_src = "/images/mascot_600x600.png" }}
				{{ end }}
			{{- end }}
      {{- if $image_file }}
  			{{- $image := $image_file.Resize "600x600" }}
					{{- $prj := dict "title" ( .Title ) "description" ( .Params.Short_Title | default .Title ) "alt" (.Params.Short_Title | default .Title) "src" $image.RelPermalink }}
					{{- $prjs = $prjs | append $prj}}
			{{- end }}
    {{- end }}
  {{- end }}


  {{- $prjs_count := len $prjs }}
        <section> {{ "<!-- Black bottom -->" | safeHTML }}
          <div class="bt-container bt-center">
            <h4 class="bt-left">White bottom</h4>
          </div>
	{{- if ge $prjs_count 1 }}
	        <div class="bt-row-padding">
		{{- range $prjs }}
            <div class="bt-col l3 m6 bt-margin-bottom">
              <a title="{{ .title }}" href="{{ .RelPermalink }}" style="text-decoration:none;">
                <div class="bt-card">
			            <img class="bt-hover-grayscale" src="{{ .src }}" alt="{{ .alt }}" style="width:100%">
                  <div class="bt-container bt-center"><h5>{{ .description | truncate 18  }}</h5></div>
                </div>
              </a>
            </div>
    {{- end }}
  {{- else }}
            <div class="bt-container bt-center bt-margin-bottom"><h5>There are currently no project finished yet.</h5></div>
  {{- end }}
          </div>
        </section>  {{ "<!-- White bottom -->" | safeHTML }}











  {{- $prjs_count := len $prjs }}
        <section> {{ "<!-- Black bottom -->" | safeHTML }}
          <div class="bt-container bt-center">
            <h4 class="bt-left">White bottom</h4>
          </div>
	{{- if ge $prjs_count 1 }}
	        <div class="bt-row-padding">
		{{- range $prjs }}
            <div class="bt-col l3 m6 bt-margin-bottom">
              <a title="{{ .title }}" href="{{ .RelPermalink }}" style="text-decoration:none;">
                <div class="bt-card">
			            <img class="bt-hover-grayscale" src="{{ .src }}" alt="{{ .alt }}" style="width:100%">
                  <div class="bt-container bt-center"><h5>{{ .description | truncate 18  }}</h5></div>
                </div>
              </a>
            </div>
    {{- end }}
  {{- else }}
            <div class="bt-container bt-center bt-margin-bottom"><h5>There are currently no project finished yet.</h5></div>
  {{- end }}
          </div>
        </section>  {{ "<!-- White bottom -->" | safeHTML }}

	{{- $prjs_count := len $prjs }}
        <section> {{ "<!-- Black bottom -->" | safeHTML }}
          <div class="bt-container bt-center">
            <h4 class="bt-left">Black bottom</h4>
          </div>
	{{- if ge $prjs_count 1 }}
	        <div class="bt-row-padding">
		{{- range $prjs }}
            <div class="bt-col l3 m6 bt-margin-bottom">
              <a title="{{ .title }}" href="{{ .RelPermalink }}" style="text-decoration:none;">
                <div class="bt-card">
			            <img class="bt-hover-grayscale" src="{{ .src }}" alt="{{ .alt }}" style="width:100%">
                  <div class="bt-container bt-center bt-black bt-text-white"><h5>{{ .description | truncate 18  }}</h5></div>
                </div>
              </a>
            </div>
    {{- end }}
  {{- else }}
            <div class="bt-container bt-center bt-margin-bottom"><h5>There are currently no project finished yet.</h5></div>
  {{- end }}
          </div>
        </section>  {{ "<!-- Black bottom -->" | safeHTML }}


				<section> {{ "<!-- White text transparent centered -->" | safeHTML }}
          <div class="bt-container bt-center">
            <h4 class="bt-left">White text transparent centered</h4>
          </div>
	{{- if ge $prjs_count 1 }}
	        <div class="bt-row-padding">
		{{- range $prjs }}
            <div class="bt-col l3 m6 bt-margin-bottom">
              <a title="{{ .title }}" href="{{ .RelPermalink }}" style="text-decoration:none;">
                <div class="bt-display-container">
			            <img class="bt-hover-grayscale" src="{{ .src }}" alt="{{ .alt }}" style="width:100%">
                  <div class="bt-display-middle bt-text-white"><h5>{{ .description | truncate 18 }}</h5></div>
                </div>
              </a>
            </div>
    {{- end }}
  {{- else }}
            <div class="bt-container bt-center bt-margin-bottom"><h5>There are currently no project finished yet.</h5></div>
  {{- end }}
          </div>
        </section>  {{ "<!-- White text transparent centered -->" | safeHTML }}


				<section> {{ "<!-- Black texted opacity centered -->" | safeHTML }}
          <div class="bt-container bt-center">
            <h4 class="bt-left">Black texted opacity centered</h4>
          </div>
	{{- if ge $prjs_count 1 }}
	        <div class="bt-row-padding">
		{{- range $prjs }}
            <div class="bt-col l3 m6 bt-margin-bottom">
              <a title="{{ .title }}" href="{{ .RelPermalink }}" style="text-decoration:none;">
                <div class="bt-display-container">
			            <img class="bt-hover-grayscale" src="{{ .src }}" alt="{{ .alt }}" style="width:100%">
                  <div class="bt-display-middle bt-white bt-text-black bt-padding bt-opacity"><h5>{{ .description | truncate 18 }}</h5></div>
                </div>
              </a>
            </div>
    {{- end }}
  {{- else }}
            <div class="bt-container bt-center bt-margin-bottom"><h5>There are currently no project finished yet.</h5></div>
  {{- end }}
          </div>
        </section>  {{ "<!-- EBlack texted opacity centered -->" | safeHTML }}


				<section> {{ "<!-- Black texted no opacity centered -->" | safeHTML }}
          <div class="bt-container bt-center">
            <h4 class="bt-left">Black texted no opacity centered</h4>
          </div>
	{{- if ge $prjs_count 1 }}
	        <div class="bt-row-padding">
		{{- range $prjs }}
            <div class="bt-col l3 m6 bt-margin-bottom">
              <a title="{{ .title }}" href="{{ .RelPermalink }}" style="text-decoration:none;">
                <div class="bt-display-container">
			            <img class="bt-hover-grayscale" src="{{ .src }}" alt="{{ .alt }}" style="width:100%">
                  <div class="bt-display-middle bt-white bt-text-black bt-padding"><h5>{{ .description | truncate 18 }}</h5></div>
                </div>
              </a>
            </div>
    {{- end }}
  {{- else }}
            <div class="bt-container bt-center bt-margin-bottom"><h5>There are currently no project finished yet.</h5></div>
  {{- end }}
          </div>
        </section>  {{ "<!-- Black texted no opacity centered -->" | safeHTML }}


				<section> {{ "<!-- White texted opacity centered -->" | safeHTML }}
          <div class="bt-container bt-center">
            <h4 class="bt-left">White texted opacity centered</h4>
          </div>
	{{- if ge $prjs_count 1 }}
	        <div class="bt-row-padding">
		{{- range $prjs }}
            <div class="bt-col l3 m6 bt-margin-bottom">
              <a title="{{ .title }}" href="{{ .RelPermalink }}" style="text-decoration:none;">
                <div class="bt-display-container">
			            <img class="bt-hover-grayscale" src="{{ .src }}" alt="{{ .alt }}" style="width:100%">
                  <div class="bt-display-middle bt-black bt-text-white bt-padding bt-opacity"><h5>{{ .description | truncate 18 }}</h5></div>
                </div>
              </a>
            </div>
    {{- end }}
  {{- else }}
            <div class="bt-container bt-center bt-margin-bottom"><h5>There are currently no project finished yet.</h5></div>
  {{- end }}
          </div>
        </section>  {{ "<!-- White texted opacity centered -->" | safeHTML }}


				<section> {{ "<!-- White texted no opacity centered -->" | safeHTML }}
          <div class="bt-container bt-center">
            <h4 class="bt-left">White texted no opacity centered</h4>
          </div>
	{{- if ge $prjs_count 1 }}
	        <div class="bt-row-padding">
		{{- range $prjs }}
            <div class="bt-col l3 m6 bt-margin-bottom">
              <a title="{{ .title }}" href="{{ .RelPermalink }}" style="text-decoration:none;">
                <div class="bt-display-container">
			            <img class="bt-hover-grayscale" src="{{ .src }}" alt="{{ .alt }}" style="width:100%">
                  <div class="bt-display-middle bt-black bt-text-white bt-padding"><h5>{{ .description | truncate 18 }}</h5></div>
                </div>
              </a>
            </div>
    {{- end }}
  {{- else }}
            <div class="bt-container bt-center bt-margin-bottom"><h5>There are currently no project finished yet.</h5></div>
  {{- end }}
          </div>
        </section>  {{ "<!-- White texted no opacity centered -->" | safeHTML }}


				<section> {{ "<!-- White texted no opacity top left -->" | safeHTML }}
          <div class="bt-container bt-center">
            <h4 class="bt-left">White texted no opacity top left</h4>
          </div>
	{{- if ge $prjs_count 1 }}
	        <div class="bt-row-padding">
		{{- range $prjs }}
            <div class="bt-col l3 m6 bt-margin-bottom">
              <a title="{{ .title }}" href="{{ .RelPermalink }}" style="text-decoration:none;">
                <div class="bt-display-container">
			            <img class="bt-hover-grayscale" src="{{ .src }}" alt="{{ .alt }}" style="width:100%">
                  <div class="bt-display-topleft bt-black bt-text-white bt-padding"><h5>{{ .description | truncate 18 }}</h5></div>
                </div>
              </a>
            </div>
    {{- end }}
  {{- else }}
            <div class="bt-container bt-center bt-margin-bottom"><h5>There are currently no project finished yet.</h5></div>
  {{- end }}
          </div>
        </section>  {{ "<!-- White texted no opacity top left -->" | safeHTML }}

      </article> {{ "<!-- End Temporary format samples -->" | safeHTML }}
{{ "<!-- End Temporary showcase -->" | safeHTML }}
