{{- $album_name := "" }}
{{- with .Get "album" }}{{ $album_name = . }}{{else}}{{ $album_name = "images" }}{{end}}
{{- $album_path := "" }}
{{- $album := "" }}
{{- if eq .Page.Parent.Type "widget_page" }}
  {{- $album_path = printf "%s/%s/*" (path.Base (path.Split .File.Path).Dir) $album_name }}
  {{- $album = .Page.Parent }}
{{- else }}
  {{- $album_path = printf "%s/*" $album_name }}
  {{- $album = .Page }}
{{- end }}
<div class="gallery">
  <div class="bt-row-padding">
  {{- $images := ($album.Resources.ByType "image").Match $album_path }}
  {{- if $images }}
    {{- range $images }}
      {{- $filename := path.Base .Name }}
      {{- $include  := true }}
      {{- $extnurl  := ""      }}
      {{- $caption  := "Noname"}}
      {{- $alt      := "Noname"}}
      {{- if $album.Params.gallery }}
        {{- range (where $album.Params.gallery "image" $filename) }}
          {{- $include = (not .exclude) }}
          {{- $extnurl = .external_url }}
          {{- $caption = .caption }}
          {{- if .alt}}{{$alt = .alt}}{{else}}{{$alt = .caption}}{{end}}
        {{- end }}
      {{- end }}
      {{- if $include }}
        {{- $image := .Fill "600x400" }}
    <div class="bt-col l3 m6 bt-margin-bottom">
  		<a title="{{ $caption }}" href="{{ if $extnurl }}{{ $extnurl }}{{ else }}{{ .RelPermalink }}{{ end }}" style="text-decoration:none;">
  			<div class="bt-card">
  				<img class="bt-hover-greyscale" src="{{ $image.RelPermalink }}" alt="{{ $alt }}" style="width:100%">
  				<div class="bt-container bt-center"><h6>{{ $caption | truncate 18 }}</h6></div>
  			</div>
  		</a>
  	</div>
      {{- end }}
    {{- end }}
  {{- end }}
  </div>
</div>
