  {{- $img_src := (.Get "src") }}
  {{- $img_alt := (.Get "alt") }}
  {{- $img_width := (.Get "width") | default "100%" }}
  {{- $img_class := (.Get "class") | default "" }}
  {{- $img_title := (.Get "title") }}
  {{- $img_descr := (.Get "descr") }}
  {{- $image     := (partial `functions/get_image` (dict "context" . "src" $img_src)) }}
    <div class="bi-img-card bt-card bt-white" style="width:{{ $img_width }}">
      <img class="bi-img-card-img bi-image {{ $img_class }}" src="{{ if $image }}{{ $image.RelPermalink }}{{ else }}{{ $img_src }}{{ end }}" alt="{{ $img_alt }}" style="width:100%">
      <div class="bi-img-card-caption bt-container">
        {{- if $img_title -}}
        <h4><strong>{{ $img_title }}</strong></h4>
        {{- end -}}
        {{- if $img_descr -}}
        <p>{{ $img_descr }}</p>
        {{- end -}}
      </div>
    </div>
