{{- $img_src    := (.Get "src") }}
{{- $img_alt    := (.Get "alt") }}
{{- $img_width  := (.Get "width")  | default "100%" }}
{{- $img_owidth := (.Get "owidth") | default $img_width }}
{{- $img_iwidth := (.Get "iwidth") | default "100%" }}
{{- $img_class  := (.Get "class") | default "bt-round" }}
{{- $img_title  := (.Get "title") }}
{{- $img_descr  := (.Get "descr") }}
{{- $image      := (partial `functions/get_image` (dict "context" . "src" $img_src)) }}
  <div class="bi-img bt-display-container" style="width:{{ $img_owidth }}">
    <div class="bt-center">
      <img class="bi-img-img bi-image {{ $img_class }}" src="{{ if $image }}{{ $image.RelPermalink }}{{ else }}{{ $img_src }}{{ end }}" alt="{{ $img_alt }}" title="{{ $img_alt }}" style="width:{{ $img_iwidth }}">
    </div>
    <div class="bi-img-caption bt-container">
      {{- if $img_title -}}
      <h4><strong>{{ $img_title }}</strong></h4>
      {{- end -}}
      {{- if $img_descr -}}
      <p>{{ $img_descr }}</p>
      {{- end -}}
    </div>
  </div>
